<app-print-header></app-print-header>
<div id="meeting-details" class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1>{{meeting.type.shortName}} Meeting Information</h1>
      <h3 class="title">{{meeting.title}}<span *ngIf="meeting.title !== null" class="day">: {{meeting.day.name}}</span><span *ngIf="meeting.title === null" class="day">{{meeting.day.name}}</span></h3>
      <p class="venue" *ngIf="meeting.venue !== null">{{meeting.venue}}</p>
      <p class="address">{{formatCsv(meeting.address)}}</p>
      <p class="postode">{{meeting.postcode}}</p>
      <p class="what3words"><b>what3words:</b> ///{{meeting.what3Words}}</p>
      <p class="start-time"><b>Start time:</b> {{meeting.time | date: 'HH:mm'}} <span *ngIf="meeting.duration">- duration {{meeting.duration}}</span></p>
      <p class="open" *ngIf="meeting.openFormat"><b>Open:</b> {{meeting.openFormat}}</p>
      <p class="open" *ngIf="!meeting.openFormat"><b>Open:</b> <span *ngIf="meeting.open">This is an open meeting, anyone may attend.</span><span *ngIf="!meeting.open">This is a closed meeting, only people with an addiction and a desire to stop can attend.</span></p>
      <p class="accessibility" *ngIf="meeting.wheelchair || meeting.hearing || meeting.chit"><b>Accesibility: </b> <span *ngIf="meeting.wheelchair">Wheelchair accessible.&nbsp;</span><span *ngIf="meeting.hearing">Induction loop system.&nbsp;</span><span *ngIf="meeting.chit">Chit system available.&nbsp;</span></p>
      <p class="format" *ngIf="meeting.format"><b>Format:</b> {{formatCsv(meeting.format)}}</p>
      <p class="notes" *ngIf="notes"><b>Notes:</b></p>
      <div class="notes" *ngIf="notes && notes.length === 1">
        <p [innerHTML]="urlReplace(notes[0])"></p>
      </div>
      <div class="notes" *ngIf="notes && notes.length > 1">
        <p *ngFor="let note of notes" [innerHTML]="urlReplace(note)"></p>
      </div>
    </div>
  </div>
</div>
<div id="meeting-map" class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1>Map</h1>
      <div id="map"></div>
    </div>
  </div>
</div>
