@import '../../variables.scss';

#cookie-notice {
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 1em 0;
  background: rgba(0,0,0,.6);
  color: $secondary-text-color;
  z-index: 1000000100;
  left: 0;
  bottom: 0px;
  line-height: 1.2 !important;
  opacity: 1;
  animation: fadein .4s;
}

  #cookie-notice #cookie-notification-dismiss {
    position: absolute;
    top: 5px;
    right: 10px;
    font-weight: 700;
    cursor: pointer;
    color: $secondary-text-color;
  }

  #cookie-notice a, a:hover, a:active, a:focus, a:visited {
    color: $secondary-text-color;
    text-decoration: underline;
  }

.hide-cookie-notice {
  animation: fadeout .4s !important;
  animation-fill-mode: forwards !important;
}

@keyframes fadein {
  from {
    transform: translateY(53px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    transform: translateY(0px);
    opacity: 1;
  }

  to {
    transform: translateY(53px);
    opacity: 0;
  }
}

@media only screen and (max-width: 1040px) {

  #cookie-notice #cookie-text {
    margin-left: 20px;
    margin-right: 38px;
  }
}
