<div id="advanced-search-wrap">
  <div class="container">
    <div id="advanced-search-row" class="row">
      <div id="advanced-search" class="col-12">
        <form id="advanced-search-form" [formGroup]="advancedSearchForm" (ngSubmit)="onSubmit(advancedSearchForm.value)">
          <div id="as-type-wrap">
            <label id="as-type-label" for="type" class="input-label">Type?</label>
            <span class="input-span">
              <mat-form-field id="as-meeting-type-form-field">
                <mat-select id="as-meeting-type" class="form-select-input" #meetingTypeSelect formControlName="meetingType" disableOptionCentering panelClass="as-select-panel" multiple>
                  <mat-option value="all" (onSelectionChange)="meetingTypeChange($event)">All meetings</mat-option>
                  <mat-option *ngFor="let type of types" [value]="type.id" (onSelectionChange)="meetingTypeChange($event)">
                    {{type.name}} ({{type.shortName}})
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </span>
          </div>
          <div id="as-distance-wrap">
            <label id="as-distance-label" for="distance" class="input-label">Distance?</label>
            <span class="input-span">
              <mat-form-field id="as-meeting-distance-form-field">
                <mat-select id="meeting-distance" class="form-select-input" #meetingDistanceSelect formControlName="meetingDistance" disableOptionCentering panelClass="as-select-panel-fix">
                  <mat-option value="1">1 mile</mat-option>
                  <mat-option value="3">3 miles</mat-option>
                  <mat-option value="5">5 miles</mat-option>
                  <mat-option value="10">10 miles</mat-option>
                </mat-select>
              </mat-form-field>
            </span>
          </div>
          <div id="as-location-wrap">
            <label id="as-where-label" for="where" class="input-label">Where?</label>
            <mat-form-field id="as-meeting-location-form-field">
              <input matInput id="meeting-location" class="form-text-input" type="text" placeholder="{{isIreland === 'true' ? 'Enter town or city' : 'Enter town or postcode'}}" formControlName="meetingLocation" (keyup)="meetingLocationChange($event)" (paste)="meetingLocationChange($event)">
              <div id="as-gps-location-wrapper" (click)="$event.stopPropagation(); getGpsLocation()" *ngIf="gpsEnabled">
                <i id="as-gps-location-button" class="fa fa-crosshairs"></i>
              </div>
            </mat-form-field>
          </div>
          <div id="as-or"> or</div>
          <div id="as-region-wrap">
            <mat-form-field id="as-meeting-region-form-field">
              <mat-select id="meeting-region" class="form-select-input" #meetingRegionSelect formControlName="meetingRegion" disableOptionCentering panelClass="as-select-panel-fix" (selectionChange)="meetingRegionSelected($event)">
                <mat-option value="all" (onSelectionChange)="meetingRegionChange($event)">Select a Region</mat-option>
                <mat-optgroup *ngFor="let area of areas" [label]="area.name">
                  <mat-option *ngFor="let region of area.regions" [value]="region.id" (onSelectionChange)="meetingRegionChange($event)">
                    {{region.name}}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-form-field>
          </div>
          <div id="as-when-wrap">
            <label id="as-when-label" for="when" class="input-label">When?</label>
            <span class="input-span">
              <mat-form-field id="as-meeting-day-form-field">
                <mat-select id="meeting-day" class="form-select-input" #meetingDaySelect formControlName="meetingDay" disableOptionCentering panelClass="as-select-panel" multiple>
                  <mat-option value="all" (onSelectionChange)="meetingDayChange($event)">Any day</mat-option>
                  <mat-option value="from now" (onSelectionChange)="meetingDayChange($event)" *ngIf="getCurrentTimeHours() < 20">From Now</mat-option>
                  <mat-option *ngFor="let day of days" [value]="day.id" (onSelectionChange)="meetingDayChange($event)">
                    {{day.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </span>
          </div>
          <div id="as-distance-basic-wrap">
            <label id="as-distance-basic-label" for="distance" class="input-label">Distance?</label>
            <span class="input-span">
              <mat-form-field id="as-meeting-distance-basic-form-field">
                <mat-select id="meeting-distance" class="form-select-input" #meetingDistanceSelect formControlName="meetingDistance" disableOptionCentering panelClass="as-select-panel-fix">
                  <mat-option value="1">1 mile</mat-option>
                  <mat-option value="3">3 miles</mat-option>
                  <mat-option value="5">5 miles</mat-option>
                  <mat-option value="10">10 miles</mat-option>
                </mat-select>
              </mat-form-field>
            </span>
          </div>
          <div id="as-accessibility-wrap">
            <label id="as-accessibility-label" for="accessibility" class="input-label">Accessibility?</label>
            <span class="input-span">
              <mat-form-field id="as-meeting-accessibility-form-field">
                <mat-select id="meeting-accessibility" class="form-select-input" #meetingAccessibilitySelect formControlName="meetingAccessibility" disableOptionCentering panelClass="as-select-panel" multiple>
                  <mat-option value="all" (onSelectionChange)="meetingAccessibilityChange($event)">All</mat-option>
                  <mat-option value="wheelchair" (onSelectionChange)="meetingAccessibilityChange($event)">Wheelchair Accessible</mat-option>
                  <mat-option value="hearing" (onSelectionChange)="meetingAccessibilityChange($event)">Induction Loop System</mat-option>
                  <mat-option value="chit" (onSelectionChange)="meetingAccessibilityChange($event)">Chit System Available</mat-option>
                </mat-select>
              </mat-form-field>
            </span>
          </div>
          <div id="as-open-wrap">
            <label id="as-open-label" for="open" class="input-label">Open to All?</label>
            <span class="input-span">
              <app-tri-state-checkbox id="meeting-open" formControlName="meetingOpen" matTooltip={{openCheckboxTooltip}} #tp="matTooltip" (click)="meetingOpenChange()"></app-tri-state-checkbox>
            </span>
          </div>
          <div id="as-search-button-wrap">
            <mat-card-actions id="as-meeting-search-button">
              <button mat-raised-button id="meeting-search" type="submit" class="form-button search-button">Search<span><img id="loading-basic" src="assets/images/loading.svg" alt="Loading"  [ngStyle]="{'visibility': loading ? 'visible' : 'hidden'}" /></span></button>
            </mat-card-actions>
          </div>
          <img id="loading" *ngIf="loading" src="assets/images/loading.svg" alt="Loading" />
        </form>
      </div>
    </div>
  </div>
</div>
