<div id="footer" class="row">
  <div class="col-sm-6 col-xl-3 footer-column d-flex justify-content-center">
    <div class="footer-links">
      <h1><a href="/information/12-step-meeting-types" class="footer-heading">Information</a></h1>
      <ul>
        <li><a href="/information/12-step-meeting-types">12-Step Meeting Types</a></li>
        <li><a href="/information/newcomers">Newcomers</a></li>
        <li><a href="/information/addiction-self-assessments">Self Assessments</a></li>
        <li><a href="/information/12-steps">12-Steps</a></li>
        <li><a href="/information/12-traditions">12-Traditions</a></li>
        <li><a href="/information/12-concepts">12-Concepts</a></li>
        <li><a href="/information/history-of-12-step-fellowships">History</a></li>
      </ul>
    </div>
  </div>
  <div class="col-sm-6 col-xl-3 footer-column d-flex justify-content-center">
    <div class="footer-links">
      <h1><a href="/find-a-meeting" class="footer-heading">Meetings</a></h1>
      <ul>
        <li><a href="/meetings/what-to-expect">What to Expect</a></li>
        <li><a href="/find-a-meeting">Find a Meeting</a></li>
        <li><a href="/meetings/statistics">Statistics</a></li>
        <li><a href="/meetings/data-dumps">Data Dumps</a></li>
        <li><a href="/meetings/submit-a-correction">Submit a Correction</a></li>
      </ul>
    </div>
  </div>
  <div class="col-sm-6 col-xl-3 footer-column d-flex justify-content-center">
    <div class="footer-links">
      <h1><a href="/readings/basic-texts" class="footer-heading">Readings</a></h1>
      <ul>
        <li><a href="/readings/opening-readings">Opening Readings</a></li>
        <li><a href="/readings/closing-readings">Closing Readings</a></li>
        <li><a href="/readings/basic-texts">Basic Texts</a></li>
        <li><a href="/readings/prayers">Prayers</a></li>
      </ul>
    </div>
  </div>
  <div class="col-sm-6 col-xl-3 footer-column d-flex justify-content-center">
    <div class="footer-links">
      <h1><a href="/support/contact-us" class="footer-heading">Support</a></h1>
      <ul>
        <li><a href="/support/frequently-asked-questions">Frequently Asked Questions</a></li>
        <li><a href="/support/terms-and-conditions">Terms and Conditions</a></li>
        <li><a href="/support/contact-us">Contact Us</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="social-media" class="row">
  <div class="col-lg-12 d-flex justify-content-center">
    <a href="https://www.facebook.com/profile.php?id=61558984325111" target="_blank"><i class="fa-brands fa-facebook social-icon" title="Visit our GitHub page"></i></a>
    <a href="https://twitter.com/rmf_12_steps" target="_blank"><i class="fa-brands fa-twitter social-icon" title="Visit our Twitter page"></i></a>
    <a href="https://www.instagram.com/recovery_meeting_finder" target="_blank"><i class="fa-brands fa-instagram social-icon" title="Visit our Instagram page"></i></a>
    <a href="https://www.tiktok.com/@recovery.meeting.finder" target="_blank"><i class="fa-brands fa-tiktok social-icon social-icon-tiktok" title="Visit our Tiktok page"></i></a>
    <a href="https://www.linkedin.com/company/recovery-meeting-finder" target="_blank"><i class="fa-brands fa-linkedin social-icon" title="Visit our LinkedIn page"></i></a>
    <a href="https://github.com/lschmid83/Recovery-Meeting-Finder" target="_blank"><i class="fa-brands fa-github social-icon" title="Visit our GitHub page"></i></a>
  </div>
</div>
<div id="copyright" class="row">
  <div class="col-lg-12 d-flex justify-content-center">
    <a href="https://www.citexsoftware.co.uk/" target="_blank">© Citex Software 2024</a>
  </div>
</div>
