@import '../../variables.scss';

html, body {
  width: 100%;
  height: 100%;
}

@page {
  margin-bottom: 1.1in !important;
}

#print-search-results-container {
  margin-top: 25px;
  position: absolute;
}

#print-search-results-container h1 {
  font-size: 24px;
}

#print-search-results-container .results-groups-wrap {
  margin-top: 10px;
}

#print-search-results-container .results-groups-wrap .result-count {
  display: inline-block;
  text-align: center;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  margin-right: 7px;
  margin-bottom: 20px;
}

#print-search-results-container .result-count a {
  color: $secondary-text-color;
  text-decoration: none;
}

#print-search-results {
  margin-left: 16px;
}

#print-search-results .search-results-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

#print-search-results .search-results-title h1 {
  font-size: 24px;
}

#print-search-results .meeting-result {
  display: table
}
