@import '../../variables.scss';

.homepage-top-banner {
  text-align: center;
  background-color: #0c2a5c;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

@if $display-homepage-top-banner {
  .homepage-top-banner {
    display: block;
  }
}
@else {
  .homepage-top-banner {
    display: none;
  }
}


#homepage-background {
  background-image: url("/assets/images/home-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

p {
  color: $secondary-text-color;
}

.page-header {
  cursor: pointer;
}

.page-header > .page-header-logo {
  margin-top: 25px;
  margin-left: 25px;
  float: left;
}

.page-header > .page-header-logo img {
  width: 70px;
}

.page-header > .page-header-title {
  margin-left: 115px;
  margin-top: 23px;
  font-size: 25px;
  font-weight: bold;
  color: $secondary-text-color;
  text-decoration: none;
}

.page-header > .page-header-title > .page-header-title-uk {
  display: none;
}

.page-header > .page-header-title-sub-heading {
  margin-left: 115px;
  margin-top: -5px;
}

@media only screen and (max-width: 895px) {
  .page-header > .page-header-title-sub-heading {
    display: none;
  }

  .page-header > .page-header-title > page-header-title-uk {
    display: inline;
  }

  .page-header > .page-header-title {
    margin-top: 25px;
  }

  .page-header > .page-header-title {
    line-height: 33px !important;
  }
}

@media only screen and (max-width: 733px) {
  .page-header > .page-header-title > .page-header-title-uk {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  .page-header > .page-header-logo {
    margin-left: 5px;
  }

  .page-header > .page-header-title {
    margin-left: 93px;
    margin-top: 28px;
    line-height: 33px;
  }

  .page-header > .page-header-title-sub-heading {
    display: block;
    margin-top: 0px;
    margin-left: 93px;
  }
}

@media only screen and (max-width: 480px) {
  .page-header > .page-header-title-sub-heading {
    display: none;
  }

  .page-header > .page-header-title {
    width: 60%;
  }

  .page-header > .page-header-title > page-header-title-uk {
    display: inline;
  }
}


@media only screen and (max-width: 385px) {

  .page-header > .page-header-title > .page-header-title-uk {
    display: none;
  }
}

#column1 {
  background: rgba(43, 57, 110, 0.70);
}

#column2 {
  background: rgba(37, 54, 121, 0.90);
}

#column1 > #website-description {
  margin-top: 30%;
  margin-left: 4%;
  color: $secondary-text-color;
}

#column1 > #website-description .title h2 {
  font-size: 45px;
  font-weight: bold;
}

#column1 > #website-description .description {
  margin-top: 12px;
}

#column1 > #website-description .description h1 {
  width: 75%;
  font-size: 25px;
  font-weight: normal;
}

#column1 > #website-description .donation {
  width: 75%;
  font-size: 25px;
  margin-top: 20px;
}

#column1 > #website-description .info-icon {
  cursor: pointer;
}

#column1 > #website-description .paypal-donate {
  margin-top: 15px;
  margin-left: -1px;
  margin-bottom: 75px;
}

#column1 > #website-description .info {
  margin-top: 26px;
}

#column1 > #website-description .info h1 {
  width: 80%;
  font-weight: normal;
  font-size: 25px;
}

#column1 > #website-description .statistics {
  margin-top: 22px;
}

#column1 > #website-description .statistics p {
  width: 80%;
  font-size: 25px;
}

#column2 > #meeting-search {
  margin-top: 30%;
  margin-left: 6%;
  color: $secondary-text-color;
  margin-bottom: 100px;
}

#column2 > #meeting-search > .title h2 {
  font-size: 45px;
  font-weight: bold;
}

#column2 > #meeting-search > .description {
  margin-top: 12px;
}

#column2 > #meeting-search > .description h1 {
  font-size: 25px;
  font-weight: normal;
  width: 75%;
}

#column2 > #meeting-search > #find-meeting-form {
  margin-top: 20px;
}

#column2 > #meeting-search > #find-meeting-form #meeting-type {
  margin-top: -22px;
  width: 250px;
}

#column2 > #meeting-search > #find-meeting-form #meeting-location {
  padding-right: 39px;
}

#column2 > #meeting-search > #find-meeting-form #meeting-location-form-field {
  width: 280px;
  float: left;
  margin-right: 10px;
  z-index: 0;
}

#column2 > #meeting-search > #find-meeting-form #meeting-location {
  margin-top: -41px;
  padding-left: 10px !important;
  z-index: 0;
}

#column2 .gps-location-wrapper {
  color: #757575;
  font-size: 25px;
  cursor: pointer;
  margin-top: -49px;
  margin-left: 242px;
  height: 40px;
  z-index: 1;
}

#column2 .gps-location-wrapper #gps-location-button {
  padding-top: 7px;
  padding-left: 8px;
  width: 39px;
  height: 40px;
  z-index: 1;
}

#column2 > #meeting-search > #find-meeting-form #meeting-day-form-field {
  float: left;
  width: 130px;
  margin-top: -41px;
}

#column2 > #meeting-search > #find-meeting-form #meeting-day {
  margin-top: -14px;
  width: 129px;
}

#column2 > #meeting-search > #find-meeting-form #meeting-search-button {
  float: left;
  margin-top: -4px;
  margin-left: -290px;
}

#column2 > #meeting-search > #find-meeting-form input[type=submit] {
  width: 80px;
}

#column2 > #meeting-search #loading {
  margin-left: -210px;
  margin-top: 0px;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

i {
  cursor: pointer;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#column2 #main-sidebar-toggle {
  position: fixed;
  right: 130px;
}

@if $display-homepage-top-banner {
  #column2 #main-sidebar-toggle {
    top: 84px;
  }
}
@else {
  #column2 #main-sidebar-toggle {
    top: 40px;
  }
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#github-banner {
  position: absolute;
  right: 0px;
}

@if $display-homepage-top-banner {
  #github-banner {
    top: 44px;
  }
}
@else {
  #github-banner {
    top: 0px;
  }
}

:host ::ng-deep #footer {
  margin-top: 0px !important;
  margin-left: -15px !important;
  margin-right: -15px !important;
  box-shadow: 0px 20px 23px -20px rgba(0,0,0,0.62) inset !important;
}

:host ::ng-deep #copyright {
  margin-left: -15px !important;
  margin-right: -15px !important;
  padding-bottom: 0px !important;
}

:host ::ng-deep #social-media {
  margin-left: -15px !important;
  margin-right: -15px !important;
  padding-bottom: 0px !important;
}

@media only screen and (max-width: 1560px) {

  #column1 > #website-description {
    margin-top: 25%;
  }

  #column2 > #meeting-search {
    margin-top: 25%;
  }
}

@media only screen and (max-width: 1076px) {

  #column2 > #meeting-search > #find-meeting-form #meeting-day-form-field {
    margin-top: -41px;
  }

  #column2 > #meeting-search > #find-meeting-form #meeting-search-button {
    float: left;
    margin-top: 23px;
    margin-left: -180px;
  }

  #column2 > #meeting-search > #find-meeting-form #meeting-search-button {
    float: left;
    margin-top: -4px;
    margin-left: -290px;
  }
}

@media only screen and (max-width: 1059px) {

  #column2 > #meeting-search > #find-meeting-form #meeting-search-button {
    float: left;
    margin-top: 23px;
    margin-left: -180px;
  }

  #column2 > #meeting-search > #find-meeting-form #meeting-search-button {
    float: left;
    margin-top: -4px;
    margin-left: -290px;
  }

  #column2 > #meeting-search > #loading {
    margin-left: -210px;
    margin-top: 45px;
  }
}


@media only screen and (max-width: 970px) {

  #column2 > #meeting-search > #find-meeting-form #meeting-day-form-field {
    margin-top: -25px;
  }

  #column2 > #meeting-search > #find-meeting-form #meeting-search-button {
    float: left;
    margin-top: 35px;
    margin-left: -130px;
  }
}

@media only screen and (max-width: 760px) {

  #column2 > #meeting-search {
    margin-left: 5% !important;
  }
}

@media only screen and (max-width: 670px) {

  #column2 > #meeting-search {
    margin-left: 2% !important;
  }
}

@media only screen and (max-width: 670px) {

  #column2 > #meeting-search {
    margin-top: 132px;
  }
}

@media only screen and (min-width: 575px) {

  #main-sidebar-toggle {
    padding-right: 20px;
  }
}

@media only screen and (max-width: 575px) {

  #column2 #main-sidebar-toggle {
    right: 26px;
  }

  #github-banner {
    display: none;
  }

  #column2 > #meeting-search {
    margin-top: 110px !important;
  }

  #column2 .donation {
    font-size: 18px;
    margin-top: -7px;
  }

  #column2 .paypal-donate {
    margin-top: 12px;
  }

  #column2 .info p {
    font-size: 18px;
    margin-top: -7px;
  }

  #column2 .info-icon {
    font-size: 20px !important;
  }

  #column2 .statistics p {
    font-size: 18px;
    margin-top: 7px;
  }

  #column2 > #meeting-search > .description {
    width: 85%;
  }

  #column2 > #meeting-search > #find-meeting-form #meeting-day-form-field {
    margin-top: -41px;
  }

  #column2 > #meeting-search > #find-meeting-form #meeting-search-button {
    float: left;
    margin-top: -3px;
    margin-left: -290px;
  }

  #column2 > #meeting-search #loading {
    margin-left: -212px;
    margin-top: 1px;
  }
}

@media only screen and (max-width: 530px) {

  #column2 > #meeting-search > #find-meeting-form #meeting-day-form-field {
    margin-top: -41px;
  }
}

@media only screen and (max-width: 519px) {

  #column2 > #meeting-search > #find-meeting-form #meeting-day-form-field {
    margin-top: -41px;
  }

  #column2 > #meeting-search > #find-meeting-form #meeting-search-button {
    float: left;
    margin-top: -3px;
  }

  #column2 > #meeting-search #loading {
    margin-left: -210px;
    margin-top: 1px;
  }

  #column2 > #meeting-search .disclaimer {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
    color: $secondary-text-color;
  }

  #column2 #main-sidebar-toggle {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 480px) {

  #column2 #main-sidebar-toggle {
    right: 10px;
  }
}

@media only screen and (max-width: 475px) {

  #column2 > #meeting-search > #find-meeting-form #meeting-day-form-field {
    margin-top: -27px;
  }

  #column2 > #meeting-search > #find-meeting-form #meeting-search-button {
    float: left;
    margin-left: -130px;
    margin-top: 35px;
  }

  #column2 > #meeting-search #loading {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 385px) {
  .page-header .page-header-title-uk {
    display: none !important;
  }
}

@media only screen and (max-height: 360px) {
  .container-fluid {
    height: auto;
  }

  #column1 > #website-description {
    margin-top: 132px;
  }

  #column2 > #meeting-search {
    margin-top: 132px;
  }

  #column2 > #meeting-search > #find-meeting-form #meeting-search-button {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 329px) {

  #column2 #main-sidebar-toggle {
    margin-top: -87px;
  }
}

@media only screen and (max-width: 300px) {

  #column2 #main-sidebar-toggle {
    display: none;
  }
}
