<app-page-main-sidebar></app-page-main-sidebar>
<div class="container-fluid">
  <div class="row min-vh-100">
    <div id="column1" class="col-sm-6 d-none d-sm-block">
      <div class="page-header float-left" (click)="home()">
        <div class="page-header-logo">
          <img src="assets/images/logo.png" width="75" alt="Recovery Meeting Finder Logo">
        </div>
        <div class="page-header-title">
          Recovery Meeting Finder<span class="page-header-title-uk"> - UK</span>
        </div>
        <div class="page-header-title-sub-heading page-header-title">
          United Kingdom
        </div>
      </div>
      <div id="website-description">
        <div class="title"><h2>Get Help Now</h2></div>
        <div class="description"><h1>We have collected meeting information from 12-Step fellowships in the United Kingdom to make it easier for you to search for your nearest meeting.&nbsp;&nbsp;<i class="fa fa-info-circle info-icon" aria-hidden="true" title="View disclaimer" (click)="openDisclaimerDialog()"></i></h1></div>
        <div class="info"><h1>This website lists physical face to face meetings for AA, CA, NA and OA using an interactive map.</h1></div>
        <div class="statistics"><p>Last updated {{statistics.lastUpdated | date: 'dd/MM/yyyy'}} with {{statistics.total}} meetings across the UK.&nbsp;&nbsp;<i class="fa fa-chart-bar info-icon" aria-hidden="true" title="View statistics" (click)="navigateTo('/meetings/statistics')"></i></p></div>
        <div class="donation">If you use this website please consider donating a small amount according to tradition seven.&nbsp;&nbsp;<i class="fa fa-info-circle donation-info" aria-hidden="true" title="View donations disclaimer" (click)="openDonationsDialog()"></i></div>
        <!--<div class="paypal-donate">
          <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=GB6RRQPJ2VB5S&source=url" target="_blank"><img src="assets/images/paypal-donate.png" width="140" alt="Donate via PayPal" /></a>
        </div>-->
      </div>
    </div>
    <div id="column2" class="col-sm-6">
      <div class="page-header float-left d-block d-sm-none">
        <div class="page-header-logo">
          <a href=""><img src="assets/images/logo.png" width="75" alt="Recovery Meeting Finder Logo" /></a>
        </div>
        <div class="page-header-title">
          Recovery Meeting Finder<span class="page-header-title-uk"> - UK</span>
        </div>
        <div class="page-header-title-sub-heading page-header-title">
          United Kingdom
        </div>
      </div>
      <button id="main-sidebar-toggle" class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" title="Toggle main menu" data-target="#collapsingNavbar4">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="meeting-search">
        <div class="title"><h2>Find a Meeting</h2></div>
        <div class="description"><h1>{{isIreland === 'true' ? 'To find meetings near you enter your meeting type and town or city.' : 'To find meetings near you enter your meeting type and postcode or location.'}}</h1></div>
        <form id="find-meeting-form" [formGroup]="findMeetingForm" (ngSubmit)="onSubmit(findMeetingForm.value)">
          <mat-form-field id="meeting-type-form-field">
            <mat-select id="meeting-type" class="form-select-input" #meetingTypeSelect formControlName="meetingType" disableOptionCentering panelClass="home-select-panel" multiple>
              <mat-option value="all" (onSelectionChange)="meetingTypeChange($event)">All meetings</mat-option>
              <mat-option *ngFor="let type of types" [value]="type.id" (onSelectionChange)="meetingTypeChange($event)">
                {{type.name}} ({{type.shortName}})
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br />
          <mat-form-field id="meeting-location-form-field">
            <input matInput id="meeting-location" class="form-text-input" type="text" placeholder="{{isIreland === 'true' ? 'Enter town or city' : 'Enter town or postcode'}}" formControlName="meetingLocation">
            <div class="gps-location-wrapper" (click)="$event.stopPropagation(); getGpsLocation()" *ngIf="gpsEnabled && !isSafari">
              <i id="gps-location-button" class="fa fa-crosshairs" aria-hidden="true"></i>
            </div>
          </mat-form-field>
          <br />
          <mat-form-field id="meeting-day-form-field">
            <mat-select id="meeting-day" class="form-select-input" #meetingDaySelect formControlName="meetingDay" disableOptionCentering panelClass="home-select-panel" multiple>
              <mat-option value="all" (onSelectionChange)="meetingDayChange($event)">Any day</mat-option>
              <mat-option value="from now" (onSelectionChange)="meetingDayChange($event)" *ngIf="getCurrentTimeHours() < 20">From Now</mat-option>
              <mat-option *ngFor="let day of days" [value]="day.id" (onSelectionChange)="meetingDayChange($event)">
                {{day.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br />
          <mat-card-actions id="meeting-search-button">
            <button mat-raised-button type="submit" class="form-button">Go</button>
          </mat-card-actions>
          <div>
            <img id="loading" src="assets/images/loading.svg" alt="Loading" [style.visibility]="loading ? 'visible' : 'hidden'" />
          </div>
          <br />
          <div class="info d-sm-none"><p>We list physical face to face 12-Step meetings for AA, CA, NA and OA.&nbsp;&nbsp;<i class="fa fa-info-circle info-icon" aria-hidden="true" title="View disclaimer" (click)="openDisclaimerDialog()"></i></p></div>
          <div class="statistics d-sm-none"><p>Last updated {{statistics.lastUpdated | date: 'dd/MM/yyyy'}} with {{statistics.total}} meetings across the UK.&nbsp;&nbsp;<i class="fa fa-chart-bar info-icon" aria-hidden="true" title="View statistics" (click)="navigateTo('/meetings/statistics')"></i></p></div>
          <div class="donation d-sm-none">If you use this website please consider donating a small amount according to tradition seven.&nbsp;&nbsp;<i class="fa fa-info-circle donation-info" aria-hidden="true" title="View donations disclaimer" (click)="openDonationsDialog()"></i></div>
          <!--<div class="paypal-donate d-sm-none">
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=GB6RRQPJ2VB5S&source=url" target="_blank"><img src="assets/images/paypal-donate.png" width="140" alt="Donate via PayPal" /></a>
          </div>-->
        </form>
      </div>
    </div>
  </div>
  <a href="https://github.com/lschmid83/Recovery-Meeting-Finder" target="_blank" id="github-banner"><img decoding="async" loading="lazy" width="149" height="149" src="assets/images/forkme_right_red_aa0000.png?resize=149%2C149" class="attachment-full size-full" alt="Fork me on GitHub" data-recalc-dims="1"></a>
  <app-cookie-consent></app-cookie-consent>
</div>
