<app-page-main-sidebar></app-page-main-sidebar>
<div id="page-top" class="container-fluid">
  <div class="row">
    <div class="col-12 website-closed-banner">
      Temporarily closed. For demo purpose not live data.
    </div>
  </div>
  <div class="row">
    <div id="page-header-wrap" class="col-12">
      <div id="page-header" class="float-left" (click)="navigateTo('/')">
        <div id="page-header-logo">
          <img src="assets/images/logo.png" width=75 alt="Recovery Meeting Finder Logo">
        </div>
        <div id="page-header-title" class="page-header-title">
          Recovery Meeting Finder<span id="page-header-title-uk"> - UK</span>
        </div>
        <div id="page-header-title-sub-heading" class="page-header-title">
          United Kingdom
        </div>
      </div>
      <app-quick-search></app-quick-search>
      <button id="main-sidebar-toggle" class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" title="Toggle main menu">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</div>
<app-cookie-consent></app-cookie-consent>
