<div id="main-sidebar">
  <div class="list-group text-xs-left">
    <a id="home" href="/" class="list-group-item d-inline-block"><i class="fa fa-home"></i> <span class="d-md-inline">Home</span></a>
    <a href="/find-a-meeting" class="list-group-item d-inline-block"><i class="fa fa-search"></i> <span class="d-md-inline">Find a Meeting</span></a>
    <a href="#information" class="list-group-item d-inline-block drop-down collapsed sidebar-menu-item" data-toggle="collapse" aria-expanded="true">Information</a>
    <div id="information" class="collapse sidebar-dropdown show" data-parent="#main-sidebar">
      <a id="meeting-types" href="/information/12-step-meeting-types" class="list-group-item">12-Step Meeting Types</a>
      <a id="newcomers" href="/information/newcomers" class="list-group-item">Newcomers</a>
      <a id="addiction-self-assessments" href="/information/addiction-self-assessments" class="list-group-item">Self Assessments</a>
      <a id="12-steps" href="/information/12-steps" class="list-group-item">The 12-Steps</a>
      <a id="12-traditions" href="/information/12-traditions" class="list-group-item">The 12-Traditions</a>
      <a id="12-concepts" href="/information/12-concepts" class="list-group-item">The 12-Concepts</a>
      <a id="history" href="/information/history-of-12-step-fellowships" class="list-group-item">History</a>
    </div>
    <a href="#meetings" class="list-group-item d-inline-block drop-down collapsed sidebar-menu-item" data-toggle="collapse" aria-expanded="false">Meetings</a>
    <div id="meetings" class="collapse sidebar-dropdow" data-parent="#main-sidebar">
      <a id="what-to-expect" href="/meetings/what-to-expect" class="list-group-item">What to Expect</a>
      <a id="find-a-meeting" href="/find-a-meeting" class="list-group-item">Find a Meeting</a>
      <a id="statistics" href="/meetings/statistics" class="list-group-item">Statistics</a>
      <a id="data-dumps" href="/meetings/data-dumps" class="list-group-item">Data Dumps</a>
    </div>
    <a href="#readings" class="list-group-item d-inline-block drop-down collapsed sidebar-menu-item" data-toggle="collapse" aria-expanded="false">Readings</a>
    <div id="readings" class="collapse sidebar-dropdow" data-parent="#main-sidebar">
      <a id="opening-readings" href="/readings/opening-readings" class="list-group-item">Opening Readings</a>
      <a id="closing-readings" href="/readings/closing-readings" class="list-group-item">Closing Readings</a>
      <a id="basic-texts" href="/readings/basic-texts" class="list-group-item">Basic Texts</a>
      <a id="prayers" href="/readings/prayers" class="list-group-item">Prayers</a>
    </div>
    <a href="#support" class="list-group-item d-inline-block drop-down collapsed sidebar-menu-item" data-toggle="collapse" aria-expanded="false">Support</a>
    <div id="support" class="collapse sidebar-dropdow" data-parent="#main-sidebar">
      <a id="frequently-asked-questions" href="/support/frequently-asked-questions" class="list-group-item">Frequently Asked Questions</a>
      <a id="terms-and-conditions" href="/support/terms-and-conditions" class="list-group-item">Terms and Conditions</a>
      <a id="contact-us" href="/support/contact-us" class="list-group-item">Contact Us</a>
    </div>
    <div id="main-sidebar-search">
      <form id="main-sidebar-search-form" #form="ngForm" (ngSubmit)="submitPageSearch(form)">
        <input id="main-sidebar-search-input" [(ngModel)]="pageSearchQuery" name="pageSearchQuery" class="form-input" type="text" placeholder="Search Site">
        <i id="main-sidebar-search-icon" (click)="submitPageSearch(form)" type="submit" class="fa-solid fa-magnifying-glass"></i>
      </form>
    </div>
  </div>
</div>
