@import '../../variables.scss';

#main-sidebar {
  overflow: hidden;
  z-index: 3;
  overflow-y: auto;
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0px;
  width: 340px;
  background-color: $primary-color;
  overflow-x: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 0px 0 rgba(0, 0, 0, 0.19);
}

#main-sidebar .list-group {
  min-width: 340px; /* collapse width */
  background-color: $primary-color;
  height: 100vh;
  padding-top: 10px;
  overflow-y: auto;
  padding-bottom: 20px;
}

  #main-sidebar i {
    margin-right: 14px;
  }

  #main-sidebar .list-group-item {
    border-radius: 0;
    background-color: $primary-color;
    color: $secondary-text-color;
    border-left: 0;
    border-right: 0;
    border-color: $primary-color;
    white-space: nowrap;
    text-decoration: none;
  }

#main-sidebar .list-group-item:hover {
  background-color: #1d2a5e !important;
}

    /* highlight active menu */
    #main-sidebar .list-group-item:not(.collapsed) {
      background-color: $primary-color;
    }

      #main-sidebar .list-group-item:not(.collapsed):hover {
        background-color: #1d2a5e;
      }

  /* closed state */
  #main-sidebar .list-group .list-group-item[aria-expanded="false"]::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 5px;
  }

  /* open state */
  #main-sidebar .list-group .list-group-item[aria-expanded="true"] {
    background-color: #1d2a5e;
  }

    #main-sidebar .list-group .list-group-item[aria-expanded="true"]::after {
      content: " \f0da";
      font-family: FontAwesome;
      display: inline;
      text-align: right;
      padding-left: 5px;
    }

  /* level 1*/
  #main-sidebar .list-group .collapse .list-group-item,
  #main-sidebar .list-group .collapsing .list-group-item {
    padding-left: 20px;
  }

  /* level 2*/
  #main-sidebar .list-group .collapse > .collapse .list-group-item,
  #main-sidebar .list-group .collapse > .collapsing .list-group-item {
    padding-left: 30px;
  }

  /* level 3*/
  #main-sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
    padding-left: 40px;
  }

#main-sidebar-search {
  margin-left: 19px;
  margin-top: 8px;
}

#main-sidebar-search #main-sidebar-search-input {
  border: none;
  height: 35px;
  width: 268px;
  padding-left: 10px;
}

#main-sidebar-search #main-sidebar-search-icon {
    color:white;
    margin-left: 12px;
}
