<div class="modal-header">
  <h1 mat-dialog-title>Donations</h1>
  <button class="close-dialog" mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="modal-content">
  <p>This website is not for profit. The only costs we have to cover are minimal hosting fees apart from that all donations will be divided between the fellowships and donated directly to local homegroups. Thank you.</p>
  <p>Visit our <a href="https://www.crowdfunder.co.uk/p/recovery-meeting-finder" target="_blank">Crowdfunder</a> page if you would like to donate.</p>
</div>
<div class="modal-footer" mat-dialog-actions>
  <button class="close-button" mat-button mat-dialog-close>Close</button>
</div>
