.custom-dialog-container .mat-dialog-container {
  padding: 0px !important;
}

.modal-header {
  height: 70px;
}

  .modal-header .close-dialog {
    color: #808080
  }

.modal-header .mat-dialog-title {
  padding-left: 2px;
  padding-top: 5px;
  color: #5397c1;
}

.modal-content {
    padding: 18px;
    padding-bottom: 10px;
    border: none;
}

.modal-footer {
  border-top: 1px solid #dee2e6;
  margin-bottom: 5px;
}

.modal-footer .close-button {
    margin-right: 15px;
}
