<app-page-header class="fixed"></app-page-header>
<app-page-main-menu class="fixed"></app-page-main-menu>
<div id="sidebar" class="show">
  <div class="list-group border-0 text-xs-left">
    <a href="#statistics-menu-bar-charts" class="list-group-item d-inline-block drop-down collapsed" data-toggle="collapse" aria-expanded="true"><i class="fa fa-chart-bar"></i> <span class="d-md-inline">Bar Charts</span> </a>
    <div id="statistics-menu-bar-charts" class="collapse show" data-parent="#sidebar">
      <a href="javascript:void(0)" (click)="scrollTo('total-meetings-by-organisation-bar-chart')" class="list-group-item">Total meetings by organisation in the UK</a>
      <a href="javascript:void(0)" (click)="scrollTo('total-aa-meetings-by-country-bar-chart')" class="list-group-item">Total AA meetings by country</a>
      <a href="javascript:void(0)" (click)="scrollTo('total-ca-meetings-by-country-bar-chart')" class="list-group-item">Total CA meetings by country</a>
      <a href="javascript:void(0)" (click)="scrollTo('total-na-meetings-by-country-bar-chart')" class="list-group-item">Total NA meetings by country</a>
      <a href="javascript:void(0)" (click)="scrollTo('total-oa-meetings-by-country-bar-chart')" class="list-group-item">Total OA meetings by country</a>
    </div>
    <a href="#statistics-menu-pie-charts" class="list-group-item d-inline-block drop-down collapsed" data-toggle="collapse" aria-expanded="false"><i class="fa fa-chart-pie"></i> <span class="d-md-inline">Pie Charts</span> </a>
    <div id="statistics-menu-pie-charts" class="collapse" data-parent="#sidebar">
      <a href="javascript:void(0)" (click)="scrollTo('total-meetings-by-organisation-pie-chart')" class="list-group-item">Total meetings by organisation in the UK</a>
      <a href="javascript:void(0)" (click)="scrollTo('total-aa-meetings-by-country-pie-chart')" class="list-group-item">Total AA meetings by country</a>
      <a href="javascript:void(0)" (click)="scrollTo('total-ca-meetings-by-country-pie-chart')" class="list-group-item">Total CA meetings by country</a>
      <a href="javascript:void(0)" (click)="scrollTo('total-na-meetings-by-country-pie-chart')" class="list-group-item">Total NA meetings by country</a>
      <a href="javascript:void(0)" (click)="scrollTo('total-oa-meetings-by-country-pie-chart')" class="list-group-item">Total OA meetings by country</a>
    </div>
    <a href="#statistics-menu-cluster-maps" class="list-group-item d-inline-block drop-down collapsed" data-toggle="collapse" aria-expanded="false"><i class="fa fa-map"></i> <span class="d-md-inline">Cluster maps</span> </a>
    <div id="statistics-menu-cluster-maps" class="collapse" data-parent="#sidebar">
      <a href="javascript:void(0)" (click)="scrollTo('cluster-map-aa-meetings-uk')" class="list-group-item">Map of AA meetings in the UK</a>
      <a href="javascript:void(0)" (click)="scrollTo('cluster-map-ca-meetings-uk')" class="list-group-item">Map of CA meetings in the UK</a>
      <a href="javascript:void(0)" (click)="scrollTo('cluster-map-na-meetings-uk')" class="list-group-item">Map of NA meetings in the UK</a>
      <a href="javascript:void(0)" (click)="scrollTo('cluster-map-oa-meetings-uk')" class="list-group-item">Map of OA meetings in the UK</a>
    </div>
  </div>
</div>
<div id="content-container">
  <div id="content" class="container-fluid">
    <div class="row">
      <div id="content-title-wrap" class="col-12">
        <h1 class="content-title">Statistics</h1>
        <button id="sidebar-toggle" class="navbar-toggler navbar-light" title="Toggle sidebar" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="download-statistics" (click)="downloadStatistics()" title="Download statistics"><img src="assets/images/excel-button.svg" class="download-statistics-icon" title="Download statistics" alt="Download statistics" />Download</div>
      </div>
    </div>
    <div class="row">
      <div id="statistics-copyright" class="col-12">
        <p>The following statistics show the number of meetings of each type in the different countries of the UK. If you would like to use any of these statistics in your own publications please contact <a href="mailto:support@recoverymeetingfinder.com">support@recoverymeetingfinder.com</a> to ask for permission and credit recoverymeetingfinder.com</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 id="total-meetings-by-organisation-bar-chart" class="first-sub-heading statistics-sub-heading">Total meetings by organisation in the UK</h2>
        <div #graphContainerRef class="graph-container">
          <ngx-charts-bar-vertical (window:resize)="resizeChart(graphContainerRef.offsetWidth,graphContainerRef.offsetHeight)"
                                   [view]="view"
                                   [scheme]="colorScheme"
                                   [results]="totalMeetingsByOrganisation"
                                   [gradient]="gradient"
                                   [xAxis]="showXAxis"
                                   [yAxis]="showYAxis"
                                   [legend]="showLegend"
                                   [legendPosition]="'below'"
                                   [showXAxisLabel]="showXAxisLabel"
                                   [showYAxisLabel]="showYAxisLabel"
                                   [xAxisLabel]="xAxisTypeLabel"
                                   [yAxisLabel]="yAxisTotalLabel"
                                   (select)="onSelect($event)">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 id="total-aa-meetings-by-country-bar-chart" class="statistics-sub-heading">Total AA meetings by country</h2>
        <div #graphContainerRef class="graph-container">
          <ngx-charts-bar-vertical (window:resize)="resizeChart(graphContainerRef.offsetWidth,graphContainerRef.offsetHeight)"
                                   [view]="view"
                                   [scheme]="colorScheme"
                                   [results]="totalAaMeetingsByCountry"
                                   [gradient]="gradient"
                                   [xAxis]="showXAxis"
                                   [yAxis]="showYAxis"
                                   [legend]="showLegend"
                                   [legendPosition]="'below'"
                                   [showXAxisLabel]="showXAxisLabel"
                                   [showYAxisLabel]="showYAxisLabel"
                                   [xAxisLabel]="xAxisCountryLabel"
                                   [yAxisLabel]="yAxisTotalLabel"
                                   (select)="onSelect($event)">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 id="total-ca-meetings-by-country-bar-chart" class="statistics-sub-heading">Total CA meetings by country</h2>
        <div #graphContainerRef class="graph-container">
          <ngx-charts-bar-vertical (window:resize)="resizeChart(graphContainerRef.offsetWidth,graphContainerRef.offsetHeight)"
                                   [view]="view"
                                   [scheme]="colorScheme"
                                   [results]="totalCaMeetingsByCountry"
                                   [gradient]="gradient"
                                   [xAxis]="showXAxis"
                                   [yAxis]="showYAxis"
                                   [legend]="showLegend"
                                   [legendPosition]="'below'"
                                   [showXAxisLabel]="showXAxisLabel"
                                   [showYAxisLabel]="showYAxisLabel"
                                   [xAxisLabel]="xAxisCountryLabel"
                                   [yAxisLabel]="yAxisTotalLabel"
                                   (select)="onSelect($event)">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 id="total-na-meetings-by-country-bar-chart" class="statistics-sub-heading">Total NA meetings by country</h2>
        <div #graphContainerRef class="graph-container">
          <ngx-charts-bar-vertical (window:resize)="resizeChart(graphContainerRef.offsetWidth,graphContainerRef.offsetHeight)"
                                   [view]="view"
                                   [scheme]="colorScheme"
                                   [results]="totalNaMeetingsByCountry"
                                   [gradient]="gradient"
                                   [xAxis]="showXAxis"
                                   [yAxis]="showYAxis"
                                   [legend]="showLegend"
                                   [legendPosition]="'below'"
                                   [showXAxisLabel]="showXAxisLabel"
                                   [showYAxisLabel]="showYAxisLabel"
                                   [xAxisLabel]="xAxisCountryLabel"
                                   [yAxisLabel]="yAxisTotalLabel"
                                   (select)="onSelect($event)">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 id="total-oa-meetings-by-country-bar-chart" class="statistics-sub-heading">Total OA meetings by country</h2>
        <div #graphContainerRef class="graph-container">
          <ngx-charts-bar-vertical (window:resize)="resizeChart(graphContainerRef.offsetWidth,graphContainerRef.offsetHeight)"
                                   [view]="view"
                                   [scheme]="colorScheme"
                                   [results]="totalOaMeetingsByCountry"
                                   [gradient]="gradient"
                                   [xAxis]="showXAxis"
                                   [yAxis]="showYAxis"
                                   [legend]="showLegend"
                                   [legendPosition]="'below'"
                                   [showXAxisLabel]="showXAxisLabel"
                                   [showYAxisLabel]="showYAxisLabel"
                                   [xAxisLabel]="xAxisCountryLabel"
                                   [yAxisLabel]="yAxisTotalLabel"
                                   (select)="onSelect($event)">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="bar-charts-last-updated" class="col-12">
        <p>Bar charts last updated {{statisticTypeResults.lastUpdated | date: 'dd/MM/yyyy'}}.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 id="total-meetings-by-organisation-pie-chart" class="first-sub-heading statistics-sub-heading">Total meetings by organisation in the UK</h2>
        <div #graphContainerRef class="graph-container">
          <ngx-charts-pie-chart (window:resize)="resizeChart(graphContainerRef.offsetWidth,graphContainerRef.offsetHeight)"
                                [view]="view"
                                [scheme]="colorScheme"
                                [results]="totalMeetingsByOrganisation"
                                [gradient]="gradient"
                                [legend]="showLegend"
                                [legendPosition]="'below'"
                                [labels]="showLabels"
                                [doughnut]="isDoughnut"
                                (select)="onSelect($event)"
                                (activate)="onActivate($event)"
                                (deactivate)="onDeactivate($event)">
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 id="total-aa-meetings-by-country-pie-chart" class="statistics-sub-heading">Total AA meetings by country</h2>
        <div #graphContainerRef class="graph-container">
          <ngx-charts-pie-chart (window:resize)="resizeChart(graphContainerRef.offsetWidth,graphContainerRef.offsetHeight)"
                                [view]="view"
                                [scheme]="colorScheme"
                                [results]="totalAaMeetingsByCountry"
                                [gradient]="gradient"
                                [legend]="showLegend"
                                [legendPosition]="'below'"
                                [labels]="showLabels"
                                [doughnut]="isDoughnut"
                                (select)="onSelect($event)"
                                (activate)="onActivate($event)"
                                (deactivate)="onDeactivate($event)">
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 id="total-ca-meetings-by-country-pie-chart" class="statistics-sub-heading">Total CA meetings by country</h2>
        <div #graphContainerRef class="graph-container">
          <ngx-charts-pie-chart (window:resize)="resizeChart(graphContainerRef.offsetWidth,graphContainerRef.offsetHeight)"
                                [view]="view"
                                [scheme]="colorScheme"
                                [results]="totalCaMeetingsByCountry"
                                [gradient]="gradient"
                                [legend]="showLegend"
                                [legendPosition]="'below'"
                                [labels]="showLabels"
                                [doughnut]="isDoughnut"
                                (select)="onSelect($event)"
                                (activate)="onActivate($event)"
                                (deactivate)="onDeactivate($event)">
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 id="total-na-meetings-by-country-pie-chart" class="statistics-sub-heading">Total NA meetings by country</h2>
        <div #graphContainerRef class="graph-container">
          <ngx-charts-pie-chart (window:resize)="resizeChart(graphContainerRef.offsetWidth,graphContainerRef.offsetHeight)"
                                [view]="view"
                                [scheme]="colorScheme"
                                [results]="totalNaMeetingsByCountry"
                                [gradient]="gradient"
                                [legend]="showLegend"
                                [legendPosition]="'below'"
                                [labels]="showLabels"
                                [doughnut]="isDoughnut"
                                (select)="onSelect($event)"
                                (activate)="onActivate($event)"
                                (deactivate)="onDeactivate($event)">
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 id="total-oa-meetings-by-country-pie-chart" class="statistics-sub-heading">Total OA meetings by country</h2>
        <div #graphContainerRef class="graph-container">
          <ngx-charts-pie-chart (window:resize)="resizeChart(graphContainerRef.offsetWidth,graphContainerRef.offsetHeight)"
                                [view]="view"
                                [scheme]="colorScheme"
                                [results]="totalOaMeetingsByCountry"
                                [gradient]="gradient"
                                [legend]="showLegend"
                                [legendPosition]="'below'"
                                [labels]="showLabels"
                                [doughnut]="isDoughnut"
                                (select)="onSelect($event)"
                                (activate)="onActivate($event)"
                                (deactivate)="onDeactivate($event)">
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="pie-charts-last-updated" class="col-12">
        <p>Pie charts last updated {{statisticTypeResults.lastUpdated | date: 'dd/MM/yyyy'}}.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 id="cluster-map-aa-meetings-uk" class="cluster-map-sub-heading">Map of AA meetings in the UK</h2>
        <div class="cluster-map-container">
          <a href="/meeting-cluster-maps/meeting-cluster-map-aa-uk.png" target="_blank"><img class="cluster-map-image" src="/meeting-cluster-maps/meeting-cluster-map-aa-uk.png" title="Map of AA meetings in the UK" /></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 id="cluster-map-ca-meetings-uk" class="cluster-map-sub-heading">Map of CA meetings in the UK</h2>
        <div class="cluster-map-container">
          <a href="/meeting-cluster-maps/meeting-cluster-map-ca-uk.png" target="_blank"><img class="cluster-map-image" src="/meeting-cluster-maps/meeting-cluster-map-ca-uk.png" title="Map of CA meetings in the UK" /></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 id="cluster-map-na-meetings-uk" class="cluster-map-sub-heading">Map of NA meetings in the UK</h2>
        <div class="cluster-map-container">
          <a href="/meeting-cluster-maps/meeting-cluster-map-na-uk.png" target="_blank"><img class="cluster-map-image" src="/meeting-cluster-maps/meeting-cluster-map-na-uk.png" title="Map of NA meetings in the UK" /></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 id="cluster-map-oa-meetings-uk" class="cluster-map-sub-heading">Map of OA meetings in the UK</h2>
        <div class="cluster-map-container">
          <a href="/meeting-cluster-maps/meeting-cluster-map-oa-uk.png" target="_blank"><img class="cluster-map-image" src="/meeting-cluster-maps/meeting-cluster-map-ca-uk.png" title="Map of OA meetings in the UK" /></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="cluster-maps-last-updated" class="col-12">
        <p>Cluster maps last updated {{statisticTypeResults.lastUpdated | date: 'dd/MM/yyyy'}}.</p>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
<app-cookie-consent></app-cookie-consent>




