@import '../../../variables.scss';

#statistics {
  scroll-margin-top: 20px;
}

#content-container h1 {
  text-align: center;
}

#content-container #content-title-wrap {
  float: none;
  margin: 0 auto;
}

#content-container #content-title-wrap #statistics {
  font-size: 28px;
  color: $primary-color;
  text-align: center;
  margin-top: -3px;
}

#content-container #content-title-wrap #download-statistics {
  float: right;
  cursor: pointer;
  margin-top: -34px;
  margin-right: 40px
}

#content-container #content-title-wrap #download-statistics a {
  color: black;
  text-decoration: none;
}

#content-container #content-title-wrap #download-statistics .download-statistics-icon {
  margin-left: 20px;
  margin-top: -3px;
  margin-right: 5px;
  width: 20px;
  cursor: pointer;
}

#content-container #statistics-copyright {
  margin-top: 10px;
  margin-bottom: 30px;
}

#content-container .statistics-sub-heading {
  font-size: 24px;
  color: $primary-color;
  text-align: center;
  margin-top: 92px;
  scroll-margin-top: 10px;
}

#content-container .cluster-map-sub-heading {
  font-size: 24px;
  color: $primary-color;
  text-align: center;
  margin-top: 25px;
  scroll-margin-top: 15px;
}

#content-container .first-sub-heading {
  margin-top: -15px;
}

#content-container .graph-container {
  width: 40vw;
  height: 40vh;
  margin: auto;
  margin-top: 40px;
}

#content-container .cluster-map-container {
  width: fit-content;
  margin: auto;
  margin-top: 40px;
}

#content-container .cluster-map-image {
  cursor: pointer;
}

#content-container #bar-charts-last-updated {
  margin-top: 86px;
  margin-bottom: 10px;
}

#content-container #pie-charts-last-updated {
  margin-top: 86px;
  margin-bottom: -31px;
}

#content-container #cluster-maps-last-updated {
  margin-top: 28px;
}

@media only screen and (max-width: 1020px) {
  #content-title-wrap #download-statistics {
    display: none;
  }

  #content-container .cluster-map-container {
    width: 102%;
  }

  #content-container .cluster-map-image {
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {

  #content-container .graph-container {
    width: 85vw;
    height: 30vh;
    margin-left: -4px;
  }

  #content-container #content-title-wrap #statistics {
    width: 85vw;
  }

  #content-container .cluster-map-container {
    width: fit-content;
  }

  #content-container .cluster-map-image {
    width: 400px;
  }

  #content-container .first-sub-heading {
    margin-top: -15px;
  }
}

@media only screen and (max-width: 630px) {

  #content-container .statistics-sub-heading {
    margin-top: 20px;
    scroll-margin-top: 25px;
  }

  #content-container .first-sub-heading {
    margin-top: -15px;
  }

  #content-container .cluster-map-sub-heading {
    margin-top: 25px !important;
  }

  #content-container #bar-charts-last-updated {
    margin-top: 18px;
    margin-bottom: 26px;
  }

  #content-container #pie-charts-last-updated {
    margin-top: 0px;
    margin-bottom: -14px;
  }

  #content-container #cluster-maps-last-updated {
    margin-top: 28px;
  }

  .row {
    display: block !important;
  }
}

@media only screen and (max-width: 575px) {
  #content-container #content-title-wrap #statistics {
    padding-top: 3px;
  }
}

@media only screen and (max-width: 480px) {

  #sidebar-toggle {
    right: 17px;
  }

  #content-container .cluster-map-image {
    width: 100%;
  }
}
