@import '../../variables.scss';

#quick-search {
  position: relative;
  background: $secondary-color;
  padding-left: 15px;
  margin-right: -15px;
  height: 125px;
  z-index: 1;
}

@if $display-main-menu {
  #quick-search {
    height: 108px;
  }
}

  #quick-search mat-select {
    margin-top: -28px !important;
  }

  #quick-search > #quick-search-title {
    margin-left: 0px;
    margin-top: 8px;
    font-size: 14px;
    color: $secondary-text-color;
  }

  #quick-search > #quick-search-form {
    margin-top: 9px;
    margin-bottom: -8px;
    width: 380px;
  }

    #quick-search > #quick-search-form .qs-field {
      padding-top: 8px !important;
      font-size: 14px !important;
      height: 30px;
    }

    #quick-search > #quick-search-form #qs-type-wrap {
      float: left;
      width: 20px;
      height: 30px;
      margin-top: -2px;
    }

    #quick-search > #quick-search-form #qs-day-wrap {
      margin-left: 240px;
      float: left;
      width: 30px;
      height: 30px;
      margin-top: -2px;
    }

  #quick-search #qs-meeting-day-form-field {
      width: 90px;
  }

  #quick-search > #quick-search-form #meeting-type {
    width: 250px;
  }

    #quick-search > #quick-search-form #meeting-day {
      width: 90px;
      height: 30px !important;
    }

    #quick-search > #quick-search-form #meeting-location {
      margin-top: -8px;
      margin-right: 5px;
      padding-top: 2px !important;
      font-size: 14px !important;
      height: 30px !important;
    }

    #quick-search > #quick-search-form #qs-meeting-location-form-field {
      width: 276px !important;
      float: left;
    }

    #quick-search > #quick-search-form #meeting-search {
      font-size: 14px;
      background: $primary-color !important;
      height: 30px;
      float: left;
      padding-top: 0px;
      line-height: 23px;
      margin-top: 13px;
      margin-left: 10px;
    }

@supports (-ms-ime-align: auto) {
  #quick-search > #quick-search-form #meeting-search {
    margin-top: -16px;
  }
}

@media only screen and (max-width: $main-menu-breakpoint) {
  #quick-search {
    display: none;
  }
}

