<div id="print-info-container" class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div id="print-info">
        <p><b>Information:</b></p>
        <p>It is possible to create a PDF file of the print out by changing the destination option in the print dialog to Microsoft Print to PDF.</p>
        <p>Please close the print dialog before returning the meeting finder map.</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div id="print-header" class="float-left">
        <div id="print-header-logo">
          <img src="assets/images/print-logo.png" width="75" alt="Recovery Meeting Finder Logo">
        </div>
        <div id="print-header-title">
          Recovery Meeting Finder - UK
        </div>
        <div id="print-header-title-sub-heading">
          www.recoverymeetingfinder.com
        </div>
      </div>
    </div>
  </div>
</div>
