<div id="main-menu-container" class="container-fluid">
  <div class="row">
    <div id="main-menu">
      <div class="main-menu-item">Home</div>
      <div class="main-menu-item">Information <i class="fa fa-caret-down"></i></div>
      <div class="main-menu-item">Meetings <i class="fa fa-caret-down"></i></div>
      <div class="main-menu-item">Readings <i class="fa fa-caret-down"></i></div>
      <div class="main-menu-item">Support <i class="fa fa-caret-down"></i></div>
    </div>
    <div id="main-menu-search">
      <div id="search-top"></div>
      <form id="search-form" #form="ngForm" (ngSubmit)="submitPageSearch(form)">
        <input id="main-menu-search-input" [(ngModel)]="pageSearchQuery" name="pageSearchQuery" class="form-input" type="text" placeholder="Search Site">
        <i id="main-menu-search-icon" (click)="submitPageSearch(form)" type="submit" class="fa-solid fa-magnifying-glass"></i>
        <img id="searching-icon" *ngIf="searching" src="assets/images/loading.svg" alt="Searching" />
      </form>
    </div>
    <div class="main-menu-subnav" data-id="0">
      <a href="">Back to homepage</a>
    </div>
    <div class="main-menu-subnav" data-id="1">
      <a href="/information/12-step-meeting-types">12-Step Meeting Types</a>
      <a href="/information/newcomers">Newcomers</a>
      <a href="/information/addiction-self-assessments">Self Assessments</a>
      <a href="/information/12-steps">12-Steps</a>
      <a href="/information/12-traditions">12-Traditions</a>
      <a href="/information/12-concepts">12-Concepts</a>
      <a href="/information/history-of-12-step-fellowships">History</a>
    </div>
    <div class="main-menu-subnav" data-id="2">
      <a href="/meetings/what-to-expect">What to Expect</a>
      <a href="/find-a-meeting">Find a Meeting</a>
      <a href="/meetings/statistics">Statistics</a>
      <a href="/meetings/data-dumps">Data Dumps</a>
      <a href="/meetings/submit-a-correction">Submit a Correction</a>
    </div>
    <div class="main-menu-subnav" data-id="3">
      <a href="/readings/opening-readings">Opening Readings</a>
      <a href="/readings/closing-readings">Closing Readings</a>
      <a href="/readings/basic-texts">Basic Texts</a>
      <a href="/readings/prayers">Prayers</a>
    </div>
    <div class="main-menu-subnav" data-id="4">
      <a href="/support/frequently-asked-questions">Frequently Asked Questions</a>
      <a href="/support/terms-and-conditions">Terms and Conditions</a>
      <a href="/support/contact-us">Contact Us</a>
    </div>
  </div>
</div>
