/* Background colors. */
$primary-color: #203177;
$secondary-color: #5397c1;

/* Text colors. */
$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$placeholder-text-color: #757575;

/* Content colors. */
$content-background-color: #ffffff;
$search-result-tile-color: #f8f9f9;

/* Top of page banner */
$display-homepage-top-banner: false;
$display-top-banner: false;

/* For box-shadow css properties. */
:root {
  --primary-color: #203177;
  --secondary-color: #5397c1;
  --main-menu-nav-underline: #ffffff;
}
