<app-page-header class="fixed"></app-page-header>
<app-page-main-menu class="fixed"></app-page-main-menu>
<div id="sidebar" class="show">
  <div class="list-group border-0 text-xs-left">
    <a href="javascript:void(0)" (click)="scrollTo('introduction')" class="list-group-item">Introduction</a>
    <a href="javascript:void(0)" (click)="scrollTo('meeting-information')" class="list-group-item">Meeting Information</a>
    <a href="javascript:void(0)" (click)="scrollTo('visitors-to-our-website')" class="list-group-item">Visitors to our website</a>
    <a href="javascript:void(0)" (click)="scrollTo('use-of-cookies')" class="list-group-item">Use of cookies</a>
    <a href="javascript:void(0)" (click)="scrollTo('third-party-collection-of-information')" class="list-group-item">Third-party collection of information</a>
    <a href="javascript:void(0)" (click)="scrollTo('how-do-we-safeguard-your-information')" class="list-group-item">How do we safeguard your information?</a>
    <a href="javascript:void(0)" (click)="scrollTo('advertisements')" class="list-group-item">Advertisements</a>
    <a href="javascript:void(0)" (click)="scrollTo('updates-to-this-privacy-policy')" class="list-group-item">Updates to this Privacy Policy</a>
    <a href="javascript:void(0)" (click)="scrollTo('how-to-contact-us')" class="list-group-item">How to contact us</a>
  </div>
</div>
<div id="content-container">
  <div id="content" class="container-fluid">
    <div class="row">
      <div id="content-title-wrap" class="col-12">
        <h1 class="content-title">Terms and Conditions</h1>
        <button id="sidebar-toggle" class="navbar-toggler navbar-light" title="Toggle sidebar" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 id="introduction">Introduction</h2>
        <p>This page outlines the Recovery Meeting Finder terms and conditions and practices with respect to any information collected from users who access our website at <a href="https://www.recoverymeetingfinder.com" target="_blank">https://www.recoverymeetingfinder.com</a></p>
        <p>We do not store any personal information such as locations or IP addresses that could identify a user in our database while you use this website.</p>
        <p>We comply with the responsible authority within the meaning of data protection laws, in particular the General Data Protection Regulation (GDPR): Data Protection Act 2018.</p>
        <h2 id="meeting-information">Meeting Information</h2>
        <p>This website is provided free of charge and as such we do not take any responsibility for the accuracy of meeting information. We try our very best to keep the meeting lists up to date but there will always be exceptions to the rule.</p>
        <p>For the most up to date meeting lists and to confirm availability please visit the official intergroup websites found at:</p>
        <p class="organisation-title">Alcoholics Anonymous (Great Britain)</p>
        <p class="organisation-link"><a href="https://www.alcoholics-anonymous.org.uk" target="_blank">https://www.alcoholics-anonymous.org.uk</a></p>
        <p class="organisation-title">Alcoholics Anonymous (Ireland)</p>
        <p class="organisation-link"><a href="https://www.alcoholicsanonymous.ie" target="_blank">https://www.alcoholicsanonymous.ie</a></p>
        <p class="organisation-title">Cocaine Anonymous (UK)</p>
        <p class="organisation-link"><a href="https://www.cocaineanonymous.org.uk" target="_blank">https://www.cocaineanonymous.org.uk</a></p>
        <p class="organisation-title">Cocaine Anonymous (Scotland)</p>
        <p class="organisation-link"><a href="https://www.cascotland.org.uk" target="_blank">https://www.cascotland.org.uk</a></p>
        <p class="organisation-title">Cocaine Anonymous (Ireland)</p>
        <p class="organisation-link"><a href="https://www.caireland.live" target="_blank">https://www.caireland.live</a></p>
        <p class="organisation-title">Narcotics Anonymous (UK)</p>
        <p class="organisation-link"><a href="https://ukna.org" target="_blank">https://ukna.org</a></p>
        <p class="organisation-title">Narcotics Anonymous (Ireland)</p>
        <p class="organisation-link"><a href="https://www.na-ireland.org" target="_blank">https://www.na-ireland.org</a></p>
        <p class="organisation-title">Overeaters Anonymous (UK)</p>
        <p class="organisation-link"><a href="https://www.oagb.org.uk" target="_blank">https://www.oagb.org.uk</a></p>
        <p>If you notice any incorrect meeting listings please report them to us at <a href="mailto:support@recoverymeetingfinder.com">support@recoverymeetingfinder.com</a> and we will do our best to correct them.</p>
        <h2 id="visitors-to-our-website">Visitors to our website</h2>
        <p>
          We will place analytics cookies on your device when you visit our website to enable the website to work and to
          make the experience better for you. Exactly how this works can be seen at this Google Analytics
          cookie policy page <a href="https://support.google.com/analytics/answer/6004245" target="_blank">https://support.google.com/analytics/answer/6004245</a>
        </p>
        <p>
          When you visit <a href="https://www.recoverymeetingfinder.com" target="_blank">https://www.recoverymeetingfinder.com</a> (or any sub domain or micro website) we
          use a third-party service, Google Analytics, to collect standard internet log information and details of
          visitor location and behaviour patterns. We do this to find out things such as the number of visitors
          to the various parts of the website. This information is only processed in a way which does not identify
          anyone. We do not make, and do not allow Google to make, any attempt to find out the identities of
          those visiting our website. We will never collect personally identifiable information through analytics
          of our website. The use of the Google services is covered under the Google Privacy & terms shown
          here: <a href="https://policies.google.com/privacy/update" target="_blank">https://policies.google.com/privacy/update</a> Google Analytics is Google’s analytics tool that
          helps website and app owners to understand how their visitors engage with their properties.
        </p>        <h2 id="use-of-cookies">Use of cookies</h2>
        <p>We and our trusted partners use cookies and other technologies in our related services, including when you visit our website or access our services.</p>
        <p>A "cookie" is a small piece of information that a website assigns to your device while you are viewing a website. Cookies are very helpful and can be used for various different purposes. These purposes include allowing you to navigate between pages efficiently, enabling automatic activation of certain features, remembering your preferences and making the interaction between you and our services quicker and easier. Cookies are also used to help make sure that the advertisements you see are relevant to you and your interests and to compile statistical data on your use of our services.</p>
        <p>This website uses the following types of cookies:</p>
        <ol>
          <li><b>'session cookies'</b>, which are stored only temporarily during a browsing session in order to allow normal use of the system and are deleted from your device when the browser is closed;</li>
          <li><b>'persistent cookies'</b>, which are read only by the website, saved on your computer for a fixed period and are not deleted when the browser is closed. Such cookies are used where we need to know who you are for repeat visits, for example to allow us to store your preferences for the next sign-in;</li>
          <li><b>'third-party cookies'</b>, which are set by other online services who run content on the page you are viewing, for example by third-party analytics companies who monitor and analyse our web access.</li>
        </ol>
        <p>Cookies do not contain any information that personally identifies you, but Personal Information that we store about you may be linked, by us, to the information stored in and obtained from cookies. You may remove the cookies by following the instructions of your device preferences; however, if you choose to disable cookies, some features of our website may not operate properly and your online experience may be limited.</p>
        <h2 id="third-party-collection-of-information">Third-party collection of information</h2>
        <p>Our policy only addresses the use and disclosure of information we collect from you. To the extent you disclose your information to other parties or sites throughout the internet, different rules may apply to their use or disclosure of the information you disclose to them. Accordingly, we encourage you to read the terms and conditions and privacy policy of each third party that you choose to disclose information to.</p>
        <p>This Privacy Policy does not apply to the practices of companies that we do not own or control, nor to individuals whom we do not employ or manage, including any of the third parties which we may disclose information to as set out in this Privacy Policy.</p>
        <h2 id="how-do-we-safeguard-your-information">How do we safeguard your information?</h2>
        <p>We take great care in implementing and maintaining the security of the website and your information. Although we take reasonable steps to safeguard information, we cannot be responsible for the acts of those who gain unauthorised access or abuse our website, and we make no warranty, express, implied or otherwise, that we will prevent such access.</p>
        <h2 id="advertisements">Advertisements</h2>
        <p>We may use a third-party advertising technology to serve advertisements when you access the website. This technology uses your information with regards to your use of the services to serve advertisements to you (e.g., by placing third-party cookies on your web browser).</p>
        <h2 id="updates-to-this-privacy-policy">Updates to this Privacy Policy</h2>
        <p>We reserve the right to periodically amend or revise the Privacy Policy; material changes will be effective immediately upon the display of the revised Privacy policy. The last revision will be reflected in the "Last modified" section. Your continued use of the platform, following the notification of such amendments on our website, constitutes your acknowledgment and consent of such amendments to the Privacy Policy and your agreement to be bound by the terms of such amendments.</p>
        <h2 id="how-to-contact-us">How to contact us</h2>
        <p>If you have any general questions about the website or the information we collect about you and how we use it, you can contact us at <a href="mailto:support@recoverymeetingfinder.com" target="_blank">support@recoverymeetingfinder.com</a></p>
        <p>Last Modified 09/10/2022</p>
      </div>
    </div>
    <app-page-footer></app-page-footer>
  </div>
</div>
<app-cookie-consent></app-cookie-consent>
