@import '../../variables.scss';

#loading {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#map {
  height: 100%;
  width: 100%;
}

.custom-dialog-container {
    overflow-x: auto;
    overflow-y: auto;
}
