<div class="modal-header">
  <h1 mat-dialog-title>Meeting Information</h1>
  <button class="close-dialog" mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="modal-content">
  <h3 class="title">{{meeting.title}}<span *ngIf="meeting.title !== null" class="day">: {{meeting.day.name}}</span><span *ngIf="meeting.title === null" class="day">{{meeting.day.name}}</span></h3>
  <p class="venue" *ngIf="meeting.venue !== null">{{meeting.venue}}</p>
  <p class="address">{{formatCsv(meeting.address)}}</p>
  <p class="postode">{{meeting.postcode}}</p>
  <p class="start-time">Start time: {{meeting.time | date: 'HH:mm'}} <span *ngIf="meeting.duration">- duration {{meeting.duration}}</span></p>
  <p class="open">Open: <span *ngIf="meeting.open">This is an open meeting, anyone may attend.</span><span *ngIf="!meeting.open">This is a closed meeting, only people with an addiction and a desire to stop can attend.</span></p>
  <p class="disability" *ngIf="meeting.wheelchair || meeting.hearing">Disabled access: <span *ngIf="meeting.wheelchair">Full wheelchair access.</span><span *ngIf="meeting.wheelchair">&nbsp;</span><span *ngIf="meeting.hearing">Hearing aid accessible.</span></p>
  <p class="format" *ngIf="meeting.format">Format: {{formatCsv(meeting.format)}}</p>
  <p class="notes" *ngIf="meeting.note">Note: {{formatCsv(meeting.note)}}</p>
  <span>
    <a target="_blank" style="font-size: 1rem; color:#203177; display:inline-block; padding-bottom: 5px;" href="https://www.google.com/maps/dir/?api=1&origin={{lat}}%2C{{lng}}&destination={{meeting.latitude}}%2C{{meeting.longitude}}&travelmode=driving">Directions</a><!-- |
    <a href="calendar:" style="font-size: 1rem; display:inline-block; color:#203177">Add to Calendar</a>-->
  </span>
</div>
<div class="modal-footer" mat-dialog-actions>
  <button class="close-button" mat-button mat-dialog-close>Close</button>
</div>
