@import '../../../variables.scss';

#content-container h2 {
  padding-top: 0px;
  scroll-margin-top: 12px;
}

#contact-form {
  margin-top: 10px;
  margin-bottom: 10px;
}

#contact-form label {
  width: 100%;
  margin-bottom: 10px;
}

#contact-form input {
  margin-top: 10px;
}

#contact-form textarea {
  margin-top: 10px;
}

#contact-form #name {
  width: 500px;
}

#contact-form #email {
  width: 500px;
}

#contact-form #email-validation {
  color: red;
  display: none;
}

#contact-form #message {
  width: 70%;
  height: 275px;
}

#contact-form #submit {
  margin-top: 10px !important;
  margin-bottom: 10px;
}

#contact-form #message-sent {
  color: #203177;
  margin-top: -37px;
  margin-left: 80px;
  visibility: hidden;
}

@media only screen and (max-width: 1125px) {

  #contact-form #name {
    width: 100%;
  }

  #contact-form #email {
    width: 100%;
  }


  #contact-form #message {
    width: 100%;
  }
}
