@import '../../variables.scss';

#page-content {
    overflow: auto;
    padding-bottom: 100px;
}

#content-title-wrap h1 {
  text-align: center;
  font-size: 26px;
}

#content-title-wrap p {
  text-align: center;
}

#search-results {
    padding-left: 10%;
    padding-right: 10%;
}

#search-results .search-result-content {
    padding-top: 5px;
    padding-bottom: 10px;
}

#search-results .search-result-content .highlight {
  font-weight: bold;
}

#search-results-total {
  text-align: center;
}

@media only screen and (max-width: 576px) {
  #search-results {
    padding-left: 25px;
    padding-right: 25px;
  }
}
