<app-page-header class="fixed"></app-page-header>
<app-page-main-menu class="fixed"></app-page-main-menu>
<div id="sidebar" class="show">
  <div class="list-group border-0 text-xs-left">
    <a href="javascript:void(0)" (click)="scrollTo('a-vision-for-you')" class="list-group-item">A Vision for You</a>
    <a href="javascript:void(0)" (click)="scrollTo('responsibility-pledge')" class="list-group-item">Responsibility Pledge</a>
    <a href="javascript:void(0)" (click)="scrollTo('anonymity-statement')" class="list-group-item">Anonymity Statement</a>
    <a href="javascript:void(0)" (click)="scrollTo('serenity-prayer')" class="list-group-item">Serenity Prayer</a>
  </div>
</div>
<div id="content-container">
  <div id="content" class="container-fluid">
    <div class="row">
      <div id="content-title-wrap" class="col-12">
        <h1 class="content-title">Closing Readings</h1>
        <button id="sidebar-toggle" class="navbar-toggler navbar-light" title="Toggle sidebar" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="content-text">
          <h2 id="a-vision-for-you">A Vision for You</h2>
          <p>Our book is meant to be suggestive only. We realize we know only a little. God will constantly disclose more to you and to us. Ask Him in your morning meditation what you can do each day for the man who is still sick. The answers will come, if your own house is in order. But obviously you cannot transmit something you haven’t got. See to it that your relationship with Him is right, and great events will come to pass for you and countless others. This is the Great Fact for us.</p>
          <p>Abandon yourself to God as you understand God. Admit your faults to Him and to your fellows. Clear away the wreckage of your past. Give freely of what you find and join us. We shall be with you in the Fellowship of the Spirit, and you will surely meet some of us as you trudge the Road of Happy Destiny.</p>
          <p>May God bless you and keep you until then.</p>
          <h2 id="responsibility-pledge">Responsibility Pledge</h2>
          <p>I am responsible, when anyone, anywhere, reaches out for help,<br />I want the hand of AA always to be there,<br />and for that I am responsible.</p>
          <h2 id="anonymity-statement">Anonymity Statement</h2>
          <p>There may be some here who are not familiar with our Tradition of personal anonymity at the public level:</p>
          <p>"Our public relations policy is based on attraction rather than promotion; we need always maintain personal anonymity at the level of press, radio and films."</p>
          <p>We respectfully ask that A.A. speakers and A.A. members not be photo-graphed, videoed, or identified by full name on all media platforms or in any published reports of our meetings, including those reports on public media platforms.</p>
          <p>The assurance of anonymity is essential in our efforts to help other problem drinkers who may wish to share our recovery program with us. And our Tradition of anonymity reminds us that A.A. principles come before personalities.</p>
          <h2 id="serenity-prayer">Serenity Prayer</h2>
          <p>
            God, grant me the serenity to accept the things I cannot change,<br />
            The courage to change the things I can,<br />
            And the wisdom to know the difference.<br />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


