<app-page-header class="fixed"></app-page-header>
<app-page-main-menu class="fixed"></app-page-main-menu>
<div id="sidebar" class="show">
  <div class="list-group border-0 text-xs-left">
    <a href="#aa-12-traditions" class="list-group-item d-inline-block drop-down collapsed" data-toggle="collapse" aria-expanded="true">Alcoholics Anonymous (AA)?</a>
    <div id="aa-12-traditions" class="collapse show" data-parent="#sidebar">
      <a href="javascript:void(0)" (click)="scrollTo('aa-12-traditions-short-form')" class="list-group-item">Short Form</a>
      <a href="javascript:void(0)" (click)="scrollTo('aa-12-traditions-long-form')" class="list-group-item">Long Form</a>
    </div>
    <a href="javascript:void(0)" (click)="scrollTo('ca-12-traditions')" class="list-group-item d-inline-block">Cocaine Anonymous (CA)</a>
    <a href="javascript:void(0)" (click)="scrollTo('na-12-traditions')" class="list-group-item d-inline-block">Narcotics Anonymous (NA)</a>
    <a href="javascript:void(0)" (click)="scrollTo('oa-12-traditions')" class="list-group-item d-inline-block">Overeaters Anonymous (OA)</a>
  </div>
</div>
<div id="content-container">
  <div id="content" class="container-fluid">
    <div class="row">
      <div id="content-title-wrap" class="col-12">
        <h1 class="content-title">The Twelve Traditions</h1>
        <button id="sidebar-toggle" class="navbar-toggler navbar-light" title="Toggle sidebar" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="content-description-wrap" class="content-text">
          <p>The Twelve Traditions of twelve-step programs provide guidelines for relationships between the twelve-step groups, members, other groups, the global fellowship, and society at large. Questions of finance, public relations, donations, and purpose are addressed in the Traditions.</p>
          <p>There is both a short form and a long form of the Traditions. The Traditions were first published in the April 1946 AA Grapevine under the title "Twelve Points to Assure Our Future."</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="content-header">
          <h1 id="aa-12-traditions">The 12-Traditions of Alcoholics Anonymous</h1>
          <a href="https://www.alcoholics-anonymous.org.uk" target="_blank"><img src="assets/images/aa-logo.png" /></a>
        </div>
        <div class="content-text">
          <div class="leaflet-image-container">
            <a href="/leaflets/alcoholics-anonymous/3290 Twelve Traditions Illustrated.pdf" target="_blank"><img src="assets/images/about/12-traditions/alcoholics-anonymous/the-twelve-traditions-illustrated.png" /></a>
          </div>
          <p>During its first decade, AA as a fellowship accumulated substantial experience which indicated that certain group attitudes and principles were particularly valuable in assuring survival of the informal structure of the Fellowship.</p>
          <p>In 1946, in the Fellowship's international journal, the AA Grapevine, these principles were reduced to writing by the founders and early members as the Twelve Traditions of Alcoholics Anonymous. They were accepted and endorsed by the membership as a whole at the International Convention of AA, at Cleveland, Ohio, in 1950.</p>
          <h1 id="aa-12-traditions-short-form">Short Form</h1>
          <ol>
            <li>Our common welfare should come first; personal recovery depends upon A.A. unity.</li>
            <li>For our group purpose there is but one ultimate authority — a loving God as He may express Himself in our group conscience. Our leaders are but trusted servants; they do not govern.</li>
            <li>The only requirement for A.A. membership is a desire to stop drinking.</li>
            <li>Each group should be autonomous except in matters affecting other groups or A.A. as a whole.</li>
            <li>Each group has but one primary purpose — to carry its message to the alcoholic who still suffers.</li>
            <li>An A.A. group ought never endorse, finance, or lend the A.A. name to any related facility or outside enterprise, lest problems of money, property, and prestige divert us from our primary purpose.</li>
            <li>Every A.A. group ought to be fully self-supporting, declining outside contributions.</li>
            <li>Alcoholics Anonymous should remain forever non-professional, but our service centres may employ special workers.</li>
            <li>A.A., as such, ought never be organized; but we may create service boards or committees directly responsible to those they serve.</li>
            <li>Alcoholics Anonymous has no opinion on outside issues; hence the A.A. name ought never be drawn into public controversy.</li>
            <li>Our public relations policy is based on attraction rather than promotion; we need always maintain personal anonymity at the level of press, radio, and films.</li>
            <li>Anonymity is the spiritual foundation of all our traditions, ever reminding us to place principles before personalities.</li>
          </ol>
          <h1 id="aa-12-traditions-long-form">Long Form</h1>
          <div class="leaflet-image-container">
            <a href="https://www.aa.org/twelve-steps-twelve-traditions" target="_blank"><img src="assets/images/about/12-traditions/twelve-steps-and-twelve-tradions.png" /></a>
          </div>
          <ol>
            <li>The final responsibility and ultimate authority for A.A. world services should always reside in the collective conscience of our whole Fellowship.</li>
            <li>When, in 1955, the A.A. groups confirmed the permanent charter for their General Service Conference, they thereby delegated to the Conference complete authority for the active maintenance of our world services and thereby made the Conference — excepting for any change in the Twelve Traditions or in Article 12 of the Conference Charter — the actual voice and the effective conscience for our whole Society.</li>
            <li>As a traditional means of creating and maintaining a clearly defined working relation between the groups, the Conference, the A.A. General Service Board and its several service corporations, staffs, committees and executives, and of thus insuring their effective leadership, it is here suggested that we endow each of these elements of world service with a traditional "Right of Decision."</li>
            <li>Throughout our Conference structure, we ought to maintain at all responsible levels a traditional “Right of Participation,” taking care that each classification or group of our world servants shall be allowed a voting representation in reasonable proportion to the responsibility that each must discharge.</li>
            <li>Throughout our world service structure, a traditional “Right of Appeal” ought to prevail, thus assuring us that minority opinion will be heard and that petitions for the redress of personal grievances will be carefully considered. </li>
            <li>On behalf of A.A. as a whole, our General Service Conference has the principal responsibility for the maintenance of our world services, and it traditionally has the final decision respecting large matters of general policy and finance. But the Conference also recognizes that the chief initiative and the active responsibility in most of these matters should be exercised primarily by the Trustee members of the Conference when they act among themselves as the General Service Board of Alcoholics Anonymous.</li>
            <li>The Conference recognizes that the Charter and the Bylaws of the General Service Board are legal instruments: that the Trustees are thereby fully empowered to manage and conduct all of the world service affairs of Alcoholics Anonymous. It is further understood that the Conference Charter itself is not a legal document: that it relies instead upon the force of tradition and the power of the A.A. purse for its final effectiveness. </li>
            <li>The Trustees of the General Service Board act in two primary capacities: (a) With respect to the larger matters of over-all policy and finance, they are the principal planners and administrators. They and their primary committees directly manage these affairs. (b) But with respect to our separately incorporated and constantly active services, the relation of the Trustees is mainly that of full stock ownership and of custodial oversight which they exercise through their ability to elect all directors of these entities.</li>
            <li>Good service leaders, together with sound and appropriate methods of choosing them, are at all levels indispensable for our future functioning and safety. The primary world service leadership once exercised by the founders of A.A. must necessarily be assumed by the Trustees of the General Service Board of Alcoholics Anonymous.</li>
            <li>Every service responsibility should be matched by an equal service authority — the scope of such authority to be always well defined whether by tradition, by resolution, by specific job description or by appropriate charters and bylaws.</li>
            <li>While the Trustees hold final responsibility for A.A.’s world service administration, they should always have the assistance of the best possible standing committees, corporate service directors, executives, staffs, and consultants. Therefore the composition of these underlying committees and service boards, the personal qualifications of their members, the manner of their induction into service, the systems of their rotation, the way in which they are related to each other, the special rights and duties of our executives, staffs, and consultants, together with a proper basis for the financial compensation of these special workers, will always be matters for serious care and concern.</li>
            <li>General Warranties of the Conference: in all its proceedings, the General Service Conference shall observe the spirit of the A.A. Tradition, taking great care that the Conference never becomes the seat of perilous wealth or power; that sufficient operating funds, plus an ample reserve, be its prudent financial principle; that none of the Conference Members shall ever be placed in a position of unqualified authority over any of the others; that all important decisions be reached by discussion, vote, and, whenever possible, by substantial unanimity; that no Conference action ever be personally punitive or an incitement to public controversy; that, though the Conference may act for the service of Alcoholics Anonymous, it shall never perform any acts of government; and that, like the Society of Alcoholics Anonymous which it serves, the Conference itself will always remain democratic in thought and action.</li>
          </ol>
        </div>
        <div class="content-header">
          <h1 id="ca-12-traditions">The 12-Traditions of Cocaine Anonymous (CA)</h1>
          <a href="https://www.cocaineanonymous.org.uk" target="_blank"><img src="assets/images/ca-logo.png" /></a>
        </div>
        <div class="content-text">
          <div class="leaflet-image-container">
            <a href="/leaflets/cocaine-anonymous/CA-12-Traditions-4-hours.pdf" target="_blank"><img src="assets/images/about/12-traditions/cocaine-anonymous/the-12-traditions.png" /></a>
          </div>
          <p>The twelve traditions comprise the organisational guidelines under which the autonomous groups of C.A. function.</p>
          <ol>
            <li>Our common welfare should come first; personal recovery depends upon C.A. unity.</li>
            <li>For our group purpose there is but one ultimate authority — a loving God as He may express Himself in our group conscience. Our leaders are but trusted servants; they do not govern.</li>
            <li>The only requirement for C.A. membership is a desire to stop using cocaine and all other mind-altering substances.</li>
            <li>Each group should be autonomous except in matters affecting other groups or C.A. as a whole.</li>
            <li>Each group has but one primary purpose — to carry its message to the addict who still suffers.</li>
            <li>A C.A. group ought never endorse, finance, or lend the C.A. name to any related facility or outside enterprise, lest problems of money, property and prestige divert us from our primary purpose.</li>
            <li>Every C.A. group ought to be fully self-supporting, declining outside contributions.</li>
            <li>Cocaine Anonymous should remain forever nonprofessional, but our service centres may employ special workers.</li>
            <li>C.A., as such, ought never be organized; but we may create service boards or committees directly responsible to those they serve.</li>
            <li>Cocaine Anonymous has no opinion on outside issues; hence the C.A. name ought never be drawn into public controversy.</li>
            <li>Our public relations policy is based on attraction rather than promotion; we need always maintain personal anonymity at the level of press, radio, television and films.</li>
            <li>12 Anonymity is the spiritual foundation of all our Traditions, ever reminding us to place principles before personalities.</li>
          </ol>
        </div>
        <div class="content-header">
          <h1 id="na-12-traditions">The 12-Traditions of Narcotics Anonymous (NA)</h1>
          <a href="https://ukna.org" target="_blank"><img src="assets/images/na-logo.png" /></a>
        </div>
        <div class="content-text">
          <div class="leaflet-image-container">
            <a href="/leaflets/narcotics-anonymous/Traditions-Booklet.pdf" target="_blank"><img src="assets/images/about/12-traditions/narcotics-anonymous/traditions-book-project.png" /></a>
          </div>
          <p>The primary service of Narcotics Anonymous is provided through the NA meetings. Each group is autonomous; however, the group and NA as a whole function on the basis of the principles that apply to all of Narcotics Anonymous. These are set forth in the 12 Traditions of NA. They reflect the accumulated experience that can help NA groups maintain their unity.</p>
          <p>We keep what we have only with vigilance, and just as freedom for the individual comes from the Twelve Steps, so freedom for the group springs from our Traditions.</p>
          <p>As long as the ties that bind us together are stronger than those that would tear us apart, all will be well.</p>
          <ol>
            <li>Our common welfare should come first; personal recovery depends on NA unity.</li>
            <li>For our group purpose there is but one ultimate authority — a loving God as He may express Himself in our group conscience. Our leaders are but trusted servants; they do not govern.</li>
            <li>The only requirement for membership is a desire to stop using.</li>
            <li>Each group should be autonomous except in matters affecting other groups or NA as a whole.</li>
            <li>Each group has but one primary purpose — to carry the message to the addict who still suffers.</li>
            <li>An NA group ought never endorse, finance, or lend the NA name to any related facility or outside enterprise, lest problems of money, property, or prestige divert us from our primary purpose.</li>
            <li>Every NA group ought to be fully self-supporting, declining outside contributions.</li>
            <li>Narcotics Anonymous should remain forever nonprofessional, but our service centres may employ special workers.</li>
            <li>NA, as such, ought never be organized, but we may create service boards or committees directly responsible to those they serve.</li>
            <li>Narcotics Anonymous has no opinion on outside issues; hence the NA name ought never be drawn into public controversy.</li>
            <li>Our public relations policy is based on attraction rather than promotion; we need always maintain personal anonymity at the level of press, radio, and films.</li>
            <li>Anonymity is the spiritual foundation of all our Traditions, ever reminding us to place principles before personalities.</li>
          </ol>
          <p>Understanding these Traditions comes slowly over a period of time. We pick up information as we talk to members and visit various groups. It usually isn’t until we get involved with service that someone points out that "personal recovery depends on NA unity," and that unity depends on how well we follow our Traditions. The Twelve Traditions of NA are not negotiable. They are the guidelines that keep our Fellowship alive and free.</p>
          <p>By following these guidelines in our dealings with others, and society at large, we avoid many problems. That is not to say that our Traditions eliminate all problems. We still have to face difficulties as they arise: communication problems, differences of opinion, internal controversies, and troubles with individuals and groups outside the Fellowship. However, when we apply these principles, we avoid some of the pitfalls.</p>
          <p>Many of our problems are like those that our predecessors had to face. Their hard won experience gave birth to the Traditions, and our own experience has shown that these principles are just as valid today as they were when these Traditions were formulated. Our Traditions protect us from the internal and external forces that could destroy us. They are truly the ties that bind us together. It is only through understanding and application that they work.</p>
        </div>
        <div class="content-header">
          <h1 id="oa-12-traditions">The 12-Traditions of Overeaters Anonymous (OA)</h1>
          <a href="https://www.oagb.org.uk" target="_blank"><img src="assets/images/oa-logo.png" /></a>
        </div>
        <div class="content-text">
          <div class="leaflet-image-container">
            <a href="/leaflets/overeaters-anonymous/the-twelve-traditions-of-overeaters-anonymous-230.pdf" target="_blank"><img src="assets/images/about/12-traditions/overeaters-anonymous/the-twelve-traditions-of-overeaters-anonymous.png" /></a>
          </div>
          <p>The Twelve Traditions are the means by which OA remains unified in a common cause. These Twelve Traditions are to the groups what the Twelve Steps are to the individual. They are suggested principles to ensure the survival and growth of the many groups that compose Overeaters Anonymous.</p>
          <p>Like the Twelve Steps, the Twelve Traditions have their origins in Alcoholics Anonymous. These Traditions describe attitudes which those early members believed were important to group survival.</p>
          <ol>
            <li>Our common welfare should come first; personal recovery depends upon OA unity.</li>
            <li>For our group purpose there is but one ultimate authority — a loving God as He may express Himself in our group conscience. Our leaders are but trusted servants; they do not govern.</li>
            <li>The only requirement for OA membership is a desire to stop eating compulsively.</li>
            <li>Each group should be autonomous except in matters affecting other groups or OA as a whole.</li>
            <li>Each group has but one primary purpose — to carry its message to the compulsive overeater who still suffers.</li>
            <li>An OA group ought never endorse, finance or lend the OA name to any related facility or outside enterprise, lest problems of money, property and prestige divert us from our primary purpose.</li>
            <li>Every OA group ought to be fully self-supporting, declining outside contributions.</li>
            <li>Overeaters Anonymous should remain forever non-professional, but our service centres may employ special workers.</li>
            <li>OA, as such, ought never be organized; but we may create service boards or committees directly responsible to those they serve.</li>
            <li>Overeaters Anonymous has no opinion on outside issues; hence, the OA name ought never be drawn into public controversy.</li>
            <li>Our public relations policy is based on attraction rather than promotion; we need always maintain personal anonymity at the level of press, radio, films, television and other public media of communication.</li>
            <li>Anonymity is the spiritual foundation of all these Traditions, ever reminding us to place principles before personalities.</li>
          </ol>
        </div>
      </div>
    </div>
    <app-page-footer></app-page-footer>
  </div>
</div>
<app-cookie-consent></app-cookie-consent>
