:host ::ng-deep #footer {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

:host ::ng-deep #copyright {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-bottom: 0px !important;
}

:host ::ng-deep #social-media {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-bottom: 0px !important;
}

:host ::ng-deep .website-closed-banner {
  padding-left: 32px !important;
}
