<app-page-header class="fixed"></app-page-header>
<app-page-main-menu class="fixed"></app-page-main-menu>
<div id="sidebar" class="show">
  <div class="list-group border-0 text-xs-left">
    <a href="javascript:void(0)" (click)="scrollTo('aa-faqs')" class="list-group-item d-inline-block">Alcoholics Anonymous (AA)</a>
    <a href="javascript:void(0)" (click)="scrollTo('na-faqs')" class="list-group-item d-inline-block">Narcotics Anonymous (NA)</a>
    <a href="javascript:void(0)" (click)="scrollTo('oa-faqs')" class="list-group-item d-inline-block">Overeaters Anonymous (OA)</a>
  </div>
</div>
<div id="content-container">
  <div id="content" class="container-fluid">
    <div class="row">
      <div id="content-title-wrap" class="col-12">
        <h1 class="content-title">Frequently Asked Questions</h1>
        <button id="sidebar-toggle" class="navbar-toggler navbar-light" title="Toggle sidebar" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="content-header">
          <h1 id="aa-faqs">Alcoholics Anonymous (AA)</h1>
          <a href="https://www.alcoholics-anonymous.org.uk" target="_blank"><img src="assets/images/aa-logo.png" /></a>
        </div>
        <div class="content-text">
          <h2>What can I do if I am worried about my drinking?</h2>
          <p>Seek help. Alcoholics Anonymous can help.</p>
          <h2>What is Alcoholics Anonymous?</h2>
          <p>We are a Fellowship of men and women who have lost the ability to control our drinking and have found ourselves in various sorts of trouble as a result of drink. We attempt - most of us successfully - to create a satisfactory way of life without alcohol. For this we find we need the help and support of other alcoholics in AA</p>
          <h2>If I go to an AA meeting, does that commit me to anything?</h2>
          <p>No. AA keeps no membership files, or attendance records. You need disclose nothing about yourself. No one will bother you if you don't want to come back.</p>
          <h2>What happens if I meet people I know in AA?</h2>
          <p>They will be there for the same reason you are there. They will not disclose your identity to outsiders. At AA you retain as much anonymity as you wish. That is one of the reasons we call ourselves Alcoholics Anonymous.</p>
          <h2>What happens at an AA meeting?</h2>
          <p>An AA meeting may take one of several forms, but at any meeting you will find alcoholics talking about what drink did to their lives and personalities, what actions they took to deal with this, and how they are living their lives today.</p>
          <h2>How can this help me with my drink problem?</h2>
          <p>We in AA know what it is like to be addicted to alcohol, and to be unable to keep promises made to others and ourselves that we will stop drinking. We are not professional therapists. Our only qualification for helping others to recover from alcoholism is that we have recovered ourselves. Problem drinkers coming to us know that recovery is possible because they see people who have done it.</p>
          <h2>Why do AAs keep on going to meetings after they are cured?</h2>
          <p>We in the fellowship of AA believe there is no such thing as a cure for alcoholism. We can never return to normal drinking, and our ability to stay away from alcohol depends on maintaining our physical, mental, and spiritual health. This we can achieve by going to meetings regularly and putting into practice what we learn there. In addition, we find it helps us to stay sober if we help other alcoholics.</p>
          <h2>How do I join AA?</h2>
          <p>You are an AA member if and when you say so. The only requirement for AA membership is a desire to stop drinking, and many of us were not very wholehearted about that when we first approached AA.</p>
          <h2>How much does AA membership cost?</h2>
          <p>There are no dues or fees for AA membership. An AA group will usually have a collection during the meeting to cover running expenses, such as rent, coffee, etc., and to this all members are free to contribute as much or as little as they wish.</p>
          <h2>Is AA a religious organisation?</h2>
          <p>No. Nor is it allied to any religious organisation.</p>
          <h2>There's a lot of talk about God, though, isn't there?</h2>
          <p>The majority of AA members believe that we have found the solution to our drinking problem not through individual willpower, but through a power greater than ourselves. However, everyone defines this power as he or she wishes. Many people call it God, others think it is the collective therapy of AA, still others don't believe in it at all. There is room in AA for people of all shades of belief and non-belief.</p>
          <h2>Can I bring my family to an AA meeting?</h2>
          <p>Family members or close friends are welcome at 'Open' AA meetings. Discuss this with your local contact.</p>
          <h2>What advice do you give new members?</h2>
          <p>In our experience, the people who recover in AA are those who:</p>
          <ol>
            <li>Stay away from the first drink;</li>
            <li>Attend AA meetings regularly;</li>
            <li>Seek out the people in AA who have successfully stayed sober for some time;</li>
            <li>Try to put into practice the AA program of recovery.</li>
          </ol>
          <h2>How can I contact AA?</h2>
          <p>You can call us in complete confidence on 0800 9177 650 or email us at help@aamail.org.</p>
          <p>Remember that alcoholism is a progressive illness. Take it seriously, even if you think you are at an early stage of the illness. Alcoholism is a killer disease. If you are an alcoholic and if you continue to drink, in time you will get worse.</p>
        </div>
        <div class="content-header">
          <h1 id="na-faqs">Narcotics Anonymous (NA)</h1>
          <a href="https://ukna.org" target="_blank"><img src="assets/images/na-logo.png" /></a>
        </div>
        <div class="content-text">
          <h2>What is NA?</h2>
          <p>Narcotics Anonymous is a 12 Step fellowship. This is a simple, spiritual, not religious, program for recovering addicts to support each other to stay clean.</p>
          <h2>Who can go to a meeting?</h2>
          <p>Anyone who wants to stop using drugs can become a member of Narcotics Anonymous. NA is open to anyone regardless of age, race, sexual identity, religion or lack of religion. Sometimes people come to NA meetings while still using drugs, detoxing from drugs, or on drug replacement therapy. Regardless of what you may be taking when you first come to NA, you are welcome.</p>
          <h2>How does it work?</h2>
          <p>Addicts helping each other recover are the foundation of NA. Members meet regularly to talk about their experiences in recovery. More experienced members (known as sponsors) work individually with newer members. The core of the NA program is the Twelve Steps. These “steps” are a set of spiritual guidelines outlining a practical approach to recovery.</p>
          <h2>What happens at an NA meeting?</h2>
          <p>An NA meeting is where two or more addicts gather for the purpose of recovery from the disease of addiction. Members offer each other support by sharing experiences about how they manage life situations without returning to using drugs. Some meetings have speakers who share their experience with getting and staying clean, while others have structured formats that focus on NA literature (our Basic Text, informational pamphlets, or our Just for Today daily meditation book). All meetings focus on recovery and supporting each other in recovery. For more information see our <a href="/leaflets/narcotics-anonymous/EN3129.pdf" target="_blank">An Introduction to NA Meetings</a> pamphlet.</p>
          <h2>What should I expect when I go to my first NA meeting?</h2>
          <p>Typically a leader or chairperson will conduct the meeting. There is usually time for participation in which members share about their experience, strength, and hope with staying clean. You do not have to speak during the meeting if you don’t want to. We encourage you to get there a little early so that you can speak with some of the members and pick up some literature before the meeting starts.</p>
          <h2>If a person is under the influence of drugs, can they participate in NA meetings?</h2>
          <p>In general, we cannot assess anyone’s desire to abstain from drugs, and NA has no opinion on drug replacement therapies used by professionals in the management of addiction. NA is a program of total abstinence. This provides the foundation for recovery from drug use and for further personal growth. Narcotics Anonymous has only one membership requirement: a desire to stop using drugs. Drug addicts who are participating in drug replacement therapies are welcome in NA meetings. To keep our message clear, some meetings ask that people under the influence of any mind- or mood-altering substances listen (rather than speak) during the meeting, and speak to members on an individual basis before and after the meeting. Meetings that follow this practice do so to preserve an atmosphere of recovery in the meeting.</p>
          <p>For members who have a need to take prescribed medication for medical or mental health issues, we suggest reading the booklet <a href="/leaflets/narcotics-anonymous/In Times of Illness.pdf" target="_blank">In Times of Illness.</a> This piece provides helpful, experience-based information regarding medication and illness, and outlines the idea that the decision to take medication is left to the member, physician, and sponsor. This booklet was written to help members who have achieved total abstinence from drugs and are faced with a need to take medication.</p>
          <h2>Is NA connected to any religious organisations?</h2>
          <p>No. The NA program is based on a set of spiritual principles that are not associated with a particular religion. Although our steps call for finding and believing in a “power greater than oneself,” this is a personal decision for each and every member to make. Members choose their own “power greater than themselves.” Members are free to choose a belief that works for them personally, and there is no opposition to anyone’s choice within the fellowship. We perceive this to be one of the strengths of our program. The experience of our members has shown that the spiritual principles work for all members, from the devoutly religious to the atheist and agnostic.</p>
          <h2>I’m not an addict, but can I attend your meetings?</h2>
          <p>We have meetings that are open to the public and are listed as such on our meeting schedule. We do ask that you respect our closed meetings, which are for addicts and for those who believe that they have a problem with drugs.</p>
          <h2>What is the difference between NA and AA?</h2>
          <p>Some AA members helped start NA. In 1953, AA then gave permission to adapt their 12 traditions and 12 steps. The primary difference between the two programs is that AA’s focus is recovery from alcoholism, whereas NA’s focus is on recovery from addiction. In NA, we believe that alcohol is a drug.</p>
          <h2>I believe in NA and want to help NA. What can I do?</h2>
          <p>Your positive remarks to others about our Fellowship are a beginning. We do not accept outside contributions nor do we have non-addict volunteers in our Fellowship. The best thing you can do to help us is to advise a person with a drug problem that NA is here, that there is no cost to join us, and that we might be able to help that person.</p>
          <h2>How are you funded?</h2>
          <p>We are fully self-supporting. Each meeting asks for contributions to help pay for rent, refreshments & literature. While we practice the principle of self-support, it is not a requirement to contribute. Anything left over is passed to other areas of the fellowship to help carry our message of recovery to the addict who still suffers. We do not accept outside contributions.</p>
          <h2>Are most of your members heroin addicts?</h2>
          <p>As indicated in our Membership Survey, our members use a variety of drugs, including alcohol. Interestingly, 80% of those surveyed list alcohol as one of the drugs used on a regular basis. This survey also provides information about employment status, occupation, gender, and age. Our basic tenet about addiction is that it is a disease and not related to a specific substance. For more information see the <a href="https://www.na.org/admin/include/spaw2/uploads/pdf/PR/NA_Membership_Survey.pdf" target="_blank">World Survey on membership</a>.</p>
          <h2>How can I get someone to stop using drugs?</h2>
          <p>From our personal experiences, you can’t stop a drug addict from using. The addict will only stop when there is a desire to stop using and seek help. If you know somebody who is using, you may wish to give them some of our literature and a meeting schedule so that they can come to one of our meetings to see if NA can help them stop. NA does not do so-called drug "interventions" nor do we give advice to family members, friends or employers in how to deal with a using addict.</p>
          <h2>What’s the difference between NA and treatment centres? NA and psychotherapy?</h2>
          <p>Narcotics Anonymous is a non-profit organization, which charges no fees or dues to its members. We do not have medical staff or professional counsellors to treat or advise our members. We do not present ourselves as professionals to the addicts that come to us seeking recovery. We offer ourselves as addicts, the same as them, who have learned how to stop using drugs, lost the desire to use drugs and have found a new way to live. For the psychotherapy question: Our meetings are not conducted like a psychotherapy session. We do not allow cross talking nor do we have professionally trained facilitators.</p>
          <h2>How do you deal with mentally ill addicts?</h2>
          <p>We do not exclude addicts from our meetings because of health issues, whether physical or mental. Our Third Tradition states the only requirement for membership is the desire to stop using drugs.</p>
          <h2>Does NA operate any treatment centres or detoxification units?</h2>
          <p>No, NA does not run any treatment centre or detoxification services to addicts.</p>
          <h2>Are your meetings confidential? Is that legal?</h2>
          <p>We try our best to be confidential and respectful of anonymity. However we cannot fully guarantee confidentiality or full anonymity in the community nor do we have a legal right to confidentiality such as a doctor or lawyer has.</p>
        </div>
        <div class="content-text">
        </div>
        <div class="content-header">
          <h1 id="oa-faqs">Overeaters Anonymous (OA)</h1>
          <a href="https://www.oagb.org.uk" target="_blank"><img src="assets/images/oa-logo.png" /></a>
        </div>
        <div class="content-text">
          <h2>Will OA help me lose weight?</h2>
          <p>If you need to lose weight, OA can help. While OA is not a weight loss group, when OA members adopt a healthy way of eating (we have a tool called our “plan of eating”) most of us lose weight. Not everyone who comes to OA needs to lose the excess weight. Many members have found that avoiding the foods that trigger our cravings (binge foods) helps with our behaviour around food. This has also helped us to refrain from out-of-control eating. All these actions bring about weight loss in members who need it.</p>
          <h2>How can I lose weight?</h2>
          <p>If you need to lose weight, OA can help. Although OA is not a weight loss group, when OA members adopt a healthy way of eating, most members lose their excess weight. OA members often find that when they avoid foods that trigger their cravings (“binge foods”) and follow a healthy, moderate food plan, weight loss occurs naturally.</p>
          <h2>Is OA a diet?</h2>
          <p>Overeaters Anonymous is not a diet. It is a fellowship of individuals who through shared experience, strength and hope are recovering from compulsive overeating. OA does not recommend or endorse a specific plan of eating. An OA member or your OA sponsor can help you get started until you see a health care professional. OA members are encouraged to work with a nutritionist or other professional for specific advice regarding their own food plan.</p>
          <h2>What and how much am I allowed to eat?</h2>
          <p>OA does not set rules or make recommendations about the type or quantity of food that OA members eat. Instead, it is suggested that members consult a healthcare professional (either a doctor or nutritionist) for advice in establishing a plan of eating that best suits their individual needs. When designing a plan of eating, many members exclude foods that seem to trigger cravings that lead to compulsive eating. A sponsor can be helpful in crafting a specific plan of eating based on a member’s particular needs and the recommendations of the member’s healthcare professional.</p>
          <h2>I’m not an overeater, but food is a problem. Can OA help me?</h2>
          <p>Yes. OA can help people with many forms of problem eating, including compulsive overeating, binging, purging, restrictive eating, over exercising, and others. Anyone with a desire to stop eating compulsively and to change their relationship with food is welcome at OA meetings.</p>
          <h2>Can OA help anorexics and bulimics?</h2>
          <p>Yes. OA can help people with many forms of problem eating, including anorexia and bulimia. Anyone with a desire to stop eating compulsively is welcome at OA meetings.</p>
          <h2>I’ve had gastric bypass surgery. Can OA help me?</h2>
          <p>Yes. Overeaters Anonymous is not a diet. At its core, OA is about dealing with the issues which drove us to engage in unhealthy behaviour with food. Gastric bypass surgery helps deal with the excess weight but not with the reasons for the behaviours that caused the excess weight.</p>
          <h2>I’m a teen. Can OA help me?</h2>
          <p>OA works for anyone of any age. Teens are welcome at all meetings and some areas have Young Peoples’ meetings just for them. There are members who have worked OA’s program of recovery from the time they were pre-teens and are still strongly committed OA members decades later.</p>
          <h2>My wife (husband, friend, son, daughter, lover, priest, boss etc.) really needs help. What can I do to help?</h2>
          <p>If you are an OA member the best thing you can do for another overeater is to continue your own recovery. Friends and loved ones may see the positive changes in you as a result of your recovery in OA and be attracted to your new ways for themselves. It’s not uncommon to be asked how you "changed" or "lost weight," or why you seem "happier", "calmer," or "not so angry." These questions present an opportunity to tell people about your experience with OA and how it has helped you.</p>
          <h2>How much does OA cost?</h2>
          <p>OA does not charge any fees to its members. We do pass a donation basket at meetings into which most people make a contribution ($2.00 if they are able, but a donation of any size is welcome but not required). Groups use the money to pay the rent for their meeting space, to buy OA literature and to help inform the public that OA is available to help other compulsive eaters.</p>
          <h2>I heard I have to get a sponsor and do what (s)he says. I don’t want a sponsor. Can I still join?</h2>
          <p>The only requirement for membership is a desire to stop eating compulsively. Sponsors are OA members who help guide other members through their recovery. A sponsor helps other members by sharing their experience, strength, and hope on a one-to-one basis. So, while a sponsor is recommended you can certainly be a member without a sponsor. Members are also free to change sponsors at will.</p>
          <h2>How do I join?</h2>
          <p>There are no dues or fees for membership. You need only a desire to stop eating compulsively. Just find a meeting and show up. Meetings are organized by OA members. You do not have to call ahead to attend a meeting but it may be a good idea to call the listed contact and confirm the time and place of the meeting.</p>
          <h2>Who can attend OA meetings?</h2>
          <p>The only requirement for membership is a desire to refrain from compulsive eating behaviours (these behaviours also include bulimia and anorexia). There are some special focus meetings (men’s groups and women’s groups for instance) but nobody is ever barred from attending such a meeting. Most OA meetings are open meetings and all members are welcome. Visitors are also welcome and we ask that they respect our tradition of anonymity.</p>
          <h2>I went to a meeting 6 years ago and it wasn’t for me. Why should I come back?</h2>
          <p>Every OA meeting is unique. We suggest newcomers try out 6 different meetings, if they can, before making up their mind about OA. If you’re concerned about returning to a meeting you tried in the past, you’ll find that often the membership of a meeting changes over time. The format and tone of a meeting can change along with its membership.</p>
          <h2>What kinds of OA meetings are available?</h2>
          <p>A variety of OA meetings are available to help individuals with food or eating problems. Meetings vary by format: speaker meetings usually involve a talk by an OA member about his or her experience with OA; in literature meetings members read and discuss an OA book or pamphlet; step meetings involve a discussion of one or more of the 12 steps of Overeaters Anonymous. Some OA meetings have a special focus, such as women, men, gay/lesbian, anorexic, bulimic, and others. Finally, OA meetings vary in the means by which members connect. In traditional meetings, OA members meet in person at a specified location and regular time each week. In phone and online meetings, members connect through the telephone or internet at a designated time.</p>
          <h2>Why do people continue to attend OA meetings after they lose weight?</h2>
          <p>People continue to attend meetings after they reached their goal weight for support in maintaining their weight loss. While the symptoms of compulsive eating may have abated, the disease itself is never cured. Continued attendance at meetings allows the OA member who has lost weight to continue to grow in the spiritual and emotional aspects of his or her life. Many OA members find that the continued fellowship and opportunity for service help them to maintain a healthy weight as a way of life. Also, members who have recovery act as powerful examples for newcomers and members still struggling with compulsive eating.</p>
          <h2>Is OA a religion?</h2>
          <p>No. OA has a spiritual basis, but is not a religion. Most OA members come to rely on a power greater than themselves for help with recovering from problem eating but in OA, we are free to define this power in any way that works for us. Many call this power God, but some members do not. Membership in OA does not depend upon a belief in God or any Higher Power. The only requirement for membership is a desire to stop eating compulsively. All are welcome regardless of personal beliefs.</p>
          <h2>Do I have to believe in God to be a member?</h2>
          <p>No. A belief in God is not required to be a member of Overeaters Anonymous. There is only one requirement for membership: A desire to stop eating compulsively. In OA “God” or “Higher Power” are very personal concepts. We are a spiritual program, not a religious organization. What you believe in is not important; a desire to stop eating compulsively is what’s important. That desire is common to all of us who seek help in OA.</p>
          <h2>Is OA affiliated with AA or any other 12-step fellowship or medical group interested in obesity?</h2>
          <p>OA is not affiliated with any medical group, AA or any other anonymous fellowship. We do base our program of recovery on the book Alcoholics Anonymous, often referred to as the "Big Book."</p>
        </div>
      </div>
    </div>
  </div>
</div>


