@import '../../variables.scss';

#map {
  height: 62%;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}

@media print {
  #map {
    height: 600px !important;
  }
}

@media only screen and (max-width: 1366px) {
  #map {
    height: 72%;
  }
}
