<app-page-header class="fixed"></app-page-header>
<app-page-main-menu class="fixed"></app-page-main-menu>
<div id="sidebar" class="show">
  <div class="list-group border-0 text-xs-left">
    <a href="#aa-12-concepts" class="list-group-item d-inline-block drop-down collapsed" data-toggle="collapse" aria-expanded="true">Alcoholics Anonymous (AA)?</a>
    <div id="aa-12-concepts" class="collapse show" data-parent="#sidebar">
      <a href="javascript:void(0)" (click)="scrollTo('aa-12-concepts-short-form')" class="list-group-item">Short Form</a>
      <a href="javascript:void(0)" (click)="scrollTo('aa-12-concepts-long-form')" class="list-group-item">Long Form</a>
    </div>
    <a href="javascript:void(0)" (click)="scrollTo('ca-12-concepts')" class="list-group-item d-inline-block">Cocaine Anonymous (CA)</a>
    <a href="javascript:void(0)" (click)="scrollTo('na-12-concepts')" class="list-group-item d-inline-block">Narcotics Anonymous (NA)</a>
    <a href="javascript:void(0)" (click)="scrollTo('oa-12-concepts')" class="list-group-item d-inline-block">Overeaters Anonymous (OA)</a>
  </div>
</div>
<div id="content-container">
  <div id="content" class="container-fluid">
    <div class="row">
      <div id="content-title-wrap" class="col-12">
        <h1 class="content-title">The 12-Concepts</h1>
        <button id="sidebar-toggle" class="navbar-toggler navbar-light" title="Toggle sidebar" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="content-header">
          <h1 id="aa-12-concepts">12 Concepts of Alcoholics Anonymous (AA)</h1>
          <a href="https://www.alcoholics-anonymous.org.uk" target="_blank"><img src="assets/images/aa-logo.png" /></a>
        </div>
        <div class="content-text">
          <p>The Twelve Concepts for World Service were written by A.A.’s co-founder Bill W., and were adopted by the General Service Conference of Alcoholics Anonymous in 1962. The Concepts are an interpretation of A.A.’s world service structure as it emerged through A.A.’s early history and experience.</p>
          <h1 id="aa-12-concepts-short-form">Short Form</h1>
          <div class="leaflet-image-container">
            <a href="/leaflets/alcoholics-anonymous/p-8_thetwelveconcepts.pdf" target="_blank"><img src="assets/images/about/12-concepts/alcoholics-anonymous/the-twelve-concepts-illustrated.png" /></a>
          </div>
          <ol>
            <li>Final responsibility and ultimate authority for A.A. world services should always reside in the collective conscience of our whole Fellowship.</li>
            <li>The General Service Conference of A.A. has become, for nearly every practical purpose, the active voice and the effective conscience of our whole society in its world affairs.</li>
            <li>To insure effective leadership, we should endow each element of A.A. — the Conference, the General Service Board and its service corporations, staffs, committees, and executives — with a traditional "Right of Decision."</li>
            <li>At all responsible levels, we ought to maintain a traditional “Right of Participation,” allowing a voting representation in reasonable proportion to the responsibility that each must discharge</li>
            <li>Throughout our structure, a traditional “Right of Appeal” ought to prevail, so that minority opinion will be heard and personal grievances receive careful consideration.</li>
            <li>The Conference recognizes that the chief initiative and active responsibility in most world service matters should be exercised by the trustee members of the Conference acting as the General Service Board.</li>
            <li>The Charter and Bylaws of the General Service Board are legal instruments, empowering the trustees to manage and conduct world service affairs. The Conference Charter is not a legal document; it relies upon tradition and the A.A. purse for final effectiveness.</li>
            <li>The trustees are the principal planners and administrators of over-all policy and finance. They have custodial oversight of the separately incorporated and constantly active services, exercising this through their ability to elect all the directors of these entities.</li>
            <li>Good service leadership at all levels is indispensable for our future functioning and safety. Primary world service leadership, once exercised by the founders, must necessarily be assumed by the trustees.</li>
            <li>Every service responsibility should be matched by an equal service authority, with the scope of such authority well defined.</li>
            <li>The trustees should always have the best possible committees, corporate service directors, executives, staffs, and consultants. Composition, qualifications, induction procedures, and rights and duties will always be matters of serious concern.</li>
            <li>The Conference shall observe the spirit of A.A. tradition, taking care that it never becomes the seat of perilous wealth or power; that sufficient operating funds and reserve be its prudent financial principle; that it place none of its members in a position of unqualified authority over others; that it reach all important decisions by discussion, vote, and whenever possible, substantial unanimity; that its actions never be personally punitive nor an incitement to public controversy; that it never perform acts of government; that, like the Society it serves, it will always remain democratic in thought and action.</li>
          </ol>
          <h1 id="aa-12-concepts-long-form">Long Form</h1>
          <iframe title="vimeo-player" class="sidebar-content-video" src="https://player.vimeo.com/video/537619680?h=3a29b671ff" frameborder="0" allowfullscreen></iframe>
          <ol>
            <li>The final responsibility and ultimate authority for A.A. world services should always reside in the collective conscience of our whole Fellowship.</li>
            <li>When, in 1955, the A.A. groups confirmed the permanent charter for their General Service Conference, they thereby delegated to the Conference complete authority for the active maintenance of our world services and thereby made the Conference — excepting for any change in the Twelve Traditions or in Article 12 of the Conference Charter — the actual voice and the effective conscience for our whole Society.</li>
            <li>As a traditional means of creating and maintaining a clearly defined working relation between the groups, the Conference, the A.A. General Service Board and its several service corporations, staffs, committees and executives, and of thus insuring their effective leadership, it is here suggested that we endow each of these elements of world service with a traditional "Right of Decision."</li>
            <li>Throughout our Conference structure, we ought to maintain at all responsible levels a traditional "Right of Participation," taking care that each classification or group of our world servants shall be allowed a voting representation in reasonable proportion to the responsibility that each must discharge.</li>
            <li>Throughout our world service structure, a traditional "Right of Appeal" ought to prevail, thus assuring us that minority opinion will be heard and that petitions for the redress of personal grievances will be carefully considered.</li>
            <li>On behalf of A.A. as a whole, our General Service Conference has the principal responsibility for the maintenance of our world services, and it traditionally has the final decision respecting large matters of general policy and finance. But the Conference also recognizes that the chief initiative and the active responsibility in most of these matters should be exercised primarily by the Trustee members of the Conference when they act among themselves as the General Service Board of Alcoholics Anonymous.</li>
            <li>The Conference recognizes that the Charter and the Bylaws of the General Service Board are legal instruments: that the Trustees are thereby fully empowered to manage and conduct all of the world service affairs of Alcoholics Anonymous. It is further understood that the Conference Charter itself is not a legal document: that it relies instead upon the force of tradition and the power of the A.A. purse for its final effectiveness.</li>
            <li>The Trustees of the General Service Board act in two primary capacities: (a) With respect to the larger matters of over-all policy and finance, they are the principal planners and administrators. They and their primary committees directly manage these affairs. (b) But with respect to our separately incorporated and constantly active services, the relation of the Trustees is mainly that of full stock ownership and of custodial oversight which they exercise through their ability to elect all directors of these entities.</li>
            <li>Good service leaders, together with sound and appropriate methods of choosing them, are at all levels indispensable for our future functioning and safety. The primary world service leadership once exercised by the founders of A.A. must necessarily be assumed by the Trustees of the General Service Board of Alcoholics Anonymous.</li>
            <li>Every service responsibility should be matched by an equal service authority — the scope of such authority to be always well defined whether by tradition, by resolution, by specific job description or by appropriate charters and bylaws.</li>
            <li>While the Trustees hold final responsibility for A.A.’s world service administration, they should always have the assistance of the best possible standing committees, corporate service directors, executives, staffs, and consultants. Therefore the composition of these underlying committees and service boards, the personal qualifications of their members, the manner of their induction into service, the systems of their rotation, the way in which they are related to each other, the special rights and duties of our executives, staffs, and consultants, together with a proper basis for the financial compensation of these special workers, will always be matters for serious care and concern.</li>
            <li>General Warranties of the Conference: in all its proceedings, the General Service Conference shall observe the spirit of the A.A. Tradition, taking great care that the Conference never becomes the seat of perilous wealth or power; that sufficient operating funds, plus an ample reserve, be its prudent financial principle; that none of the Conference Members shall ever be placed in a position of unqualified authority over any of the others; that all important decisions be reached by discussion, vote, and, whenever possible, by substantial unanimity; that no Conference action ever be personally punitive or an incitement to public controversy; that, though the Conference may act for the service of Alcoholics Anonymous, it shall never perform any acts of government; and that, like the Society of Alcoholics Anonymous which it serves, the Conference itself will always remain democratic in thought and action.</li>
          </ol>
        </div>
        <div class="content-header">
          <h1 id="ca-12-concepts">12 Concepts of Cocaine Anonymous (CA)</h1>
          <a href="https://www.cocaineanonymous.org.uk" target="_blank"><img src="assets/images/ca-logo.png" /></a>
        </div>
        <div class="content-text">
          <ol>
            <li>The final responsibility and the ultimate authority for C.A. world services should always reside in the collective conscience of our whole Fellowship.</li>
            <li>The C.A. Groups delegate to the World Service Conference the complete authority for the active maintenance of our world services and thereby make the Conference — excepting for any change in the Twelve Traditions — the actual voice and the effective conscience for our whole Fellowship.</li>
            <li>As a traditional means of creating and maintaining a clearly defined working relation between the Groups, the Conference, the World Service Board of Trustees and its service corporation, staffs, and committees, and of thus insuring their effective leadership, it is here suggested that we endow each of these elements of World Service with a traditional "Right of Decision."</li>
            <li>Throughout our Conference structure, we ought to maintain at all responsible levels a traditional “Right of Participation,” taking care that each classification or group of our world servants shall be allowed a voting representation in reasonable proportion to the responsibility that each must discharge.
            <li>Throughout our World Service structure, a traditional "Right of Appeal" ought to prevail, thus assuring us that minority opinion will be heard and that petitions for the redress of personal grievances will be carefully considered.</li>
            <li>On behalf of C.A. as a whole, our World Service Conference has the principal responsibility for the maintenance of our world services, and it traditionally has the final decision respecting large matters of general policy and finance. But the Conference also recognizes that the chief initiative and the active responsibility in most of these matters should be exercised primarily by the Trustee members of the Conference when they act among themselves as the World Service Board of Cocaine Anonymous.</li>
            <li>The Conference recognizes that the Charter and the Bylaws of the World Service Board are legal instruments; that the Trustees are thereby fully empowered to manage and conduct all of the world service affairs of Cocaine Anonymous. It is further understood that the Conference Charter itself is not a legal document; that it relies instead upon the force of tradition and the power of the C.A. purse for its final effectiveness.</li>
            <li>The Trustees of the World Service Board act in two primary capacities: (a) With respect to the larger matters of overall policy and finance, they are the principal planners and administrators. They and their primary committees directly manage these affairs. (b) But with respect to our separately incorporated and constantly active services, the relation of the Trustees is mainly that of custodial oversight which they exercise through their ability to elect all Directors of these entities.</li>
            <li>Good service leaders, together with sound and appropriate methods of choosing them are at all levels indispensable for our future functioning and safety.</li>
            <li>Every service responsibility should be matched by an equal service authority — the scope of such authority to be always well defined, whether by tradition, by resolution, by specific job description or by appropriate charters and bylaws.</li>
            <li>While the Trustees hold final responsibility for C.A.'s world service administration, they should always have the assistance of the best possible standing committees and service boards, staffs and consultants. Therefore the composition of these underlying committees and service boards, the personal qualifications of their members, the manner of their induction into service, the system of their rotation, the way in which they are related to each other, the special rights and duties of our staffs and consultants, together with a proper basis for the financial compensation of these special workers will always be matters for serious care and concern.</li>
            <li>General Warranties of the Conference: In all its proceedings, the World Service Conference shall observe the spirit of the C.A. Tradition, taking great care that the Conference never becomes the seat of perilous wealth or power; that the sufficient operating funds, plus an ample reserve, be its prudent financial principle; that none of the Conference members shall ever be placed in a position of unqualified authority over any of the others; that all important decisions be reached by discussion, vote, and whenever possible, by substantial unanimity; that no Conference action ever be personally punitive or an incitement to public controversy; that though the Conference may act for the service of Cocaine Anonymous, it shall never perform any acts of government; and that, like the Fellowship of Cocaine Anonymous which it serves, the Conference itself will always remain democratic in thought and action.</li>
          </ol>
        </div>
        <div class="content-header">
          <h1 id="na-12-concepts">12 Concepts of Narcotics Anonymous (NA)</h1>
          <a href="https://ukna.org" target="_blank"><img src="assets/images/na-logo.png" /></a>
        </div>
        <div class="content-text">
          <div class="leaflet-image-container">
            <a href="/leaflets/narcotics-anonymous/Twelve Concepts.pdf" target="_blank"><img src="assets/images/about/12-concepts/narcotics-anonymous/the-twelve-concepts.png" /></a>
          </div>
          <p>The Twelve Concepts for NA Service described here are intended to be practically applied to our service structure at every level. The spiritual ideals of our steps and traditions provide the basis for these concepts, which are tailored to the specific needs of our fellowship’s service structure. The concepts encourage our groups to more readily achieve our traditions’ ideals, and our service structure to function effectively and responsibly.</p>
          <p>These concepts have been crafted from our experience. They are not intended to be taken as the “law” for NA service, but simply as guiding principles. We find that our services are stabilized when we conscientiously apply these concepts, much as our steps have stabilized our lives and our traditions have stabilized and unified our groups. The Twelve Concepts guide our services and help ensure that the message of Narcotics Anonymous is available to all addicts who have a desire to stop using and begin practicing our way of life.</p>
          <ol>
            <li>To fulfil our fellowship’s primary purpose, the NA groups have joined together to create a structure which develops, coordinates, and maintains services on behalf of NA as a whole.</li>
            <li>The final responsibility and authority for NA services rests with the NA groups.</li>
            <li>The NA groups delegate to the service structure the authority necessary to fulfil the responsibilities assigned to it.</li>
            <li>Effective leadership is highly valued in Narcotics Anonymous. Leadership qualities should be carefully considered when selecting trusted servants.</li>
            <li>For each responsibility assigned to the service structure, a single point of decision and accountability should be clearly defined.</li>
            <li>Group conscience is the spiritual means by which we invite a loving God to influence our decisions.</li>
            <li>All members of a service body bear substantial responsibility for that body’s decisions and should be allowed to fully participate in its decision-making processes.</li>
            <li>Our service structure depends on the integrity and effectiveness of our communications.</li>
            <li>All elements of our service structure have the responsibility to carefully consider all viewpoints in their decision-making processes.</li>
            <li>Any member of a service body can petition that body for the redress of a personal grievance, without fear of reprisal.</li>
            <li>NA funds are to be used to further our primary purpose, and must be managed responsibly.</li>
            <li>In keeping with the spiritual nature of Narcotics Anonymous, our structure should always be one of service, never of government.</li>
          </ol>
        </div>
        <div class="content-header">
          <h1 id="oa-12-concepts">12 Concepts of Overeaters Anonymous (OA)</h1>
          <a href="https://www.oagb.org.uk" target="_blank"><img src="assets/images/oa-logo.png" /></a>
        </div>
        <div class="content-text">
          <div class="leaflet-image-container">
            <a href="https://www.oagb.org.uk/product/12-concepts-of-service/" target="_blank"><img src="assets/images/about/12-concepts/overeaters-anonymous/twelve-concepts-of-service.png" /></a>
          </div>
          <p>The Twelve Concepts of OA Service help us apply the Steps and Traditions in our service work, which is an important part of the OA program. The Concepts define and guide the practices of the service structures that conduct the business of OA.</p>
          <p>These Concepts depict the chain of delegated responsibility we use to provide service throughout the world. Although they focus on OA world services, the Concepts direct all OA’s trusted servants to well-considered actions for group participation, decision making, voting, and the expression of minority opinions. The Twelve Concepts support our primary purpose of carrying OA’s message of recovery to the still-suffering compulsive eater.</p>
          <ol>
            <li>The ultimate responsibility and authority for OA world services reside in the collective conscience of our whole Fellowship.</li>
            <li>The OA groups have delegated to World Service Business Conference the active maintenance of our world services; thus, World Service Business Conference is the voice, authority and effective conscience of OA as a whole.</li>
            <li>The right of decision, based on trust, makes effective leadership possible.</li>
            <li>The right of participation ensures equality of opportunity for all in the decision-making process.</li>
            <li>Individuals have the right of appeal and petition in order to ensure that their opinions and personal grievances will be carefully considered.</li>
            <li>The World Service Business Conference has entrusted the Board of Trustees with the primary responsibility for the administration of Overeaters Anonymous.</li>
            <li>The Board of Trustees has legal rights and responsibilities accorded to them by OA Bylaws, Subpart A; the rights and responsibilities of the World Service Business Conference are accorded to it by Tradition and by OA Bylaws, Subpart B.</li>
            <li>The Board of Trustees has delegated to its Executive Committee the responsibility to administer the OA World Service Office.</li>
            <li>Able, trusted servants, together with sound and appropriate methods of choosing them, are indispensable for effective functioning at all service levels.</li>
            <li>Service responsibility is balanced by carefully defined service authority; therefore, duplication of efforts is avoided.</li>
            <li>Trustee administration of the World Service Office should always be assisted by the best standing committees, executives, staffs and consultants.</li>
            <li>
              The spiritual foundation for OA service ensures that:
              <ol type="a">
                <li>No OA committee or service body shall ever become the seat of perilous wealth or power;</li>
                <li>Sufficient operating funds, plus an ample reserve, shall be OA’s prudent financial principle;</li>
                <li>No OA member shall ever be placed in a position of unqualified authority;</li>
                <li>All important decisions shall be reached by discussion, vote and, whenever possible, by substantial unanimity;</li>
                <li>No service action shall ever be personally punitive or an incitement to public controversy; and</li>
                <li>No OA service committee or service board shall ever perform any acts of government, and each shall always remain democratic in thought and action.</li>
              </ol>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>


