<app-page-header class="fixed"></app-page-header>
<app-page-main-menu class="fixed"></app-page-main-menu>
<div id="sidebar" class="show">
  <div class="list-group border-0 text-xs-left">
    <a href="javascript:void(0)" (click)="scrollTo('serenity-prayer')" class="list-group-item d-inline-block">Serenity Prayer</a>
    <a href="javascript:void(0)" (click)="scrollTo('the-lords-prayer')" class="list-group-item d-inline-block">The Lord's Prayer</a>
    <a href="javascript:void(0)" (click)="scrollTo('prayer-of-saint-francis-of-assisi')" class="list-group-item d-inline-block">Prayer of Saint Francis of Assisi</a>
    <a href="javascript:void(0)" (click)="scrollTo('morning-prayer')" class="list-group-item d-inline-block">Morning Prayer</a>
    <a href="javascript:void(0)" (click)="scrollTo('night-prayer')" class="list-group-item d-inline-block">Night Prayer</a>
    <a href="javascript:void(0)" (click)="scrollTo('first-step-prayer')" class="list-group-item d-inline-block">First Step Prayer</a>
    <a href="javascript:void(0)" (click)="scrollTo('second-step-prayer')" class="list-group-item d-inline-block">Second Step Prayer</a>
    <a href="javascript:void(0)" (click)="scrollTo('third-step-prayer')" class="list-group-item d-inline-block">Third Step Prayer</a>
    <a href="javascript:void(0)" (click)="scrollTo('fourth-step-prayer')" class="list-group-item d-inline-block">Fourth Step Prayer</a>
    <a href="javascript:void(0)" (click)="scrollTo('fifth-step-prayer')" class="list-group-item d-inline-block">Fifth Step Prayer</a>
    <a href="javascript:void(0)" (click)="scrollTo('sixth-step-prayer')" class="list-group-item d-inline-block">Sixth Step Prayer</a>
    <a href="javascript:void(0)" (click)="scrollTo('seventh-step-prayer')" class="list-group-item d-inline-block">Seventh Step Prayer</a>
    <a href="javascript:void(0)" (click)="scrollTo('eighth-step-prayer')" class="list-group-item d-inline-block">Eighth Step Prayer</a>
    <a href="javascript:void(0)" (click)="scrollTo('ninth-step-prayer')" class="list-group-item d-inline-block">Ninth Step Prayer</a>
    <a href="javascript:void(0)" (click)="scrollTo('tenth-step-prayer')" class="list-group-item d-inline-block">Tenth Step Prayer</a>
    <a href="javascript:void(0)" (click)="scrollTo('eleventh-step-prayer')" class="list-group-item d-inline-block">Eleventh Step Prayer</a>
    <a href="javascript:void(0)" (click)="scrollTo('twelfth-step-prayer')" class="list-group-item d-inline-block">Twelfth Step Prayer</a>
    <a href="javascript:void(0)" (click)="scrollTo('suggestions-about-prayer')" class="list-group-item d-inline-block">Suggestions About Prayer</a>

  </div>
</div>
<div id="content-container">
  <div id="content" class="container-fluid">
    <div class="row">
      <div id="content-title-wrap" class="col-12">
        <h1 class="content-title">Prayers</h1>
        <button id="sidebar-toggle" class="navbar-toggler navbar-light" title="Toggle sidebar" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 content-text">
        <h2 id="serenity-prayer">Serenity Prayer</h2>
        <p>
          God, grant me the serenity to accept the things I cannot change,<br />
          The courage to change the things I can,<br />
          And the wisdom to know the difference.
        </p>
        <p>
          Living one day at a time;<br />
          Enjoying one moment at a time;<br />
          Accepting hardships as the pathway to peace;<br />
          Taking, as He did, this sinful world<br />As it is, not as I would have it;
          <br />Trusting that He will make things right<br />
          If I surrender to His Will;<br />
          So that I may be reasonably happy in this life<br />
          And supremely happy with Him<br />Forever and ever in the next.
          <br />Amen.
        </p>
        <h2 id="the-lords-prayer">The Lord's Prayer</h2>
        <p>
          Our Father, who art in heaven,<br />
          hallowed be thy name.<br />
          Thy Kingdom come,<br />
          thy will be done,<br />
          on earth as it is in heaven<br />
          Give us this day our daily bread.<br />
          And forgive us our trespasses,<br />
          as we forgive those who trespass against us.<br />
          And lead us not into temptation,<br />
          but deliver us from evil.<br />
          For thine is the kingdom,<br />
          the power and the glory,<br />
          for ever and ever.<br />
          Amen.
        </p>
        <h2 id="prayer-of-saint-francis-of-assisi">Prayer of Saint Francis of Assisi</h2>
        <p>
          Lord, make me an instrument of thy peace!<br />
          That where there is hatred, I may bring love.<br />
          That where there is wrong, I may bring the spirit of forgiveness.<br />
          That where there is discord, I may bring harmony.<br />
          That where there is error, I may bring truth.<br />
          That where there is doubt, I may bring faith.<br />
          That where there is despair, I may bring hope.<br />
          That where there are shadows, I may bring light.<br />
          That where there is sadness, I may bring joy.<br />
        </p>
        <p>
          Lord, grant that I may seek rather to comfort than to be comforted.<br />
          To understand, than to be understood.<br />
          To love, than to be loved.<br />
          For it is by self-forgetting that one finds.<br />
          It is by forgiving that one is forgiven.<br />
          It is by dying that one awakens to Eternal Life.<br />
          Amen.
        </p>
        <h2 id="morning-prayer">Morning Prayer</h2>
        <p>
          God direct my thinking today so that it be divorced of self-pity, dishonesty, self-will, self-seeking and fear.<br />
          God inspire my thinking, decisions and intuitions. Help me to relax and take it easy.<br />
          Free me from doubt and indecision. Guide me through this day and show me my next step.<br />
          God give me what I need to take care of any problems.<br />
          I ask all these things that I may be of maximum service to you and my fellow man in the name of the Steps I pray.<br />Amen
        </p>
        <p>(Page. 86 of Big Book)</p>
        <h2 id="night-prayer">Night Prayer</h2>
        <p>
          God forgive me where I have been resentful, selfish, dishonest or afraid today.<br />
          Help me to not keep anything to myself but to discuss it all openly with another person – show me where I owe an apology and help me make it.<br />
          Help me to be kind and loving to all people. Use me in the mainstream of life God.<br />
          Remove worry, remorse or morbid reflections that I may be of usefulness to others.<br />
          Amen.<br /><br />
          (Page. 86 Big Book)
        </p>
        <h2 id="first-step-prayer">First Step Prayer</h2>
        <p>
          Dear Lord, I admit that I am powerless over my addiction.<br />
          I admit that my life is unmanageable when I try to control it.<br />
          Help me this day to understand the true meaning of powerlessness.<br />
          Remove from me all denial of my addiction.<br />
          God, Creative Intelligence, Universal Mind, Spirit of Nature or Spirit of the Universe my name is ______, and I'm a real alcoholic...<br />
          I need your help today.<br />
          Amen.<br /><br />
          (Page. 46 Big Book)
        </p>
        <h2 id="second-step-prayer">Second Step Prayer</h2>
        <p>
          Heavenly Father,  I know in my heart that only you can restore me to sanity.<br />
          I humbly ask that you remove all twisted thought and Addictive behaviour from me this day.<br />
          Heal my spirit and restore in me a clear mind.<br />
          God, I'm standing at the turning point right now.<br />
          Give me your protection and care as I abandon myself to you and give up my old ways and my old ideas just for today.<br />
          Amen.<br /><br />
          (Page. 59 Big Book)
        </p>
        <h2 id="third-step-prayer">Third Step Prayer</h2>
        <p>
          God, I offer myself to Thee to build with me and to do with me as Thou wilt.<br />
          Relieve me of the bondage of self, that I may better do Thy will.<br />
          Take away my difficulties, that victory over them may bear witness to those I would help of Thy Power, Thy Love, and Thy Way of life.<br />
          May I do Thy will always!<br />
          God, Take my will and my life. Guide me in my recovery. Show me how to live.<br />
          Amen.<br /><br />
          (Pages. 59 and 63 Big Book)
        </p>
        <h2 id="fourth-step-prayer">Fourth Step Prayer</h2>
        <p>
          Dear God, It is I who has made my life a mess. I have done it, but I cannot undo it.<br />
          My mistakes are mine and I will begin a searching and fearless moral inventory.<br />
          I will write down my wrongs. But I will also include that which is good.<br />
          I pray for the strength to complete the task.<br />
          Amen.
        <p>
        <p>
          <b>When in Doubt</b><br /><br />
          "I am to sit quietly when in doubt, asking only for direction and strength to meet my problems as He would have me.<br />
          Never am I to pray for myself, except as my requests bore on my usefulness to others.<br />
          Then only might I expect to receive.<br />
          But that would be in great measure.<br />
          Amen.<br /><br />
          (Page. 13 Big Book)
        </p>
        <p>
          <b>When I am Disturbed by the Conduct (Symptoms) of Others</b><br /><br />
          "This is a sick man.<br />
          How can I be helpful to him? God save me from being angry.<br />
          Thy will be done."<br />
          Amen.<br /><br />
          (Page. 67 Big Book)<br /><br />
          God, help me to show this person the same tolerance, pity and patience that I would cheerfully grant a sick friend.<br />
          This is a sick person, how can I be helpful to him?<br />
          God save me from being angry.<br />
          Thy will be done.<br />
          Amen.<br /><br />
          (Page. 141 of 12 & 12)
        </p>
        <p>
          <b>When I am Afraid</b><br /><br />
          We ask Him to remove our fear and direct our attention to what He would have us be.<br />
          God, relieve me of His fear and direct my attention to what you would have me be.<br />
          Amen.<br /><br />
          (Page. 68 Big Book)
        </p>
        <p>
          <b>When I am Aware of my Own Defects and Seeking Gods Help to Change</b><br /><br />
          We asked God to mould our ideals and help us to live up to them,<br />
          we ask God what we should do about each specific matter.<br /><br />
          God, mould my ideals in this particular area of my life and help me to live up to them.<br />
          What should I do in each specific matter?<br />
          Guide me God and give me strength to do right.<br />
          Amen.<br /><br />
          (Page. 69 Big Book)
        </p>
        <h2 id="fifth-step-prayer">Fifth Step Prayer</h2>
        <p>
          Higher Power, My inventory has shown me who I am,<br />
          Yet I ask for Your help In admitting my wrongs to another person and to You.<br />
          Assure me, and be with me, in this Step,<br />
          For without this Step I cannot progress in my recovery.<br />
          With Your help, I can do this, and I do it.<br /><br />
          God, I thank you from the bottom of my heart that I know you better.<br />
          Help me become aware of anything I have omitted discussing with another person.<br />
          Help me to do what is necessary to walk a free man at last.<br />
          Amen.<br /><br />
          (Page. 75 Big Book)
        </p>
        <h2 id="sixth-step-prayer">Sixth Step Prayer</h2>
        <p>
          Dear God, I am ready for Your help In removing from me the defects of character.<br />
          Which I now realize are an obstacle to my recovery.<br />
          Help me to continue being honest with myself and Guide me toward spiritual and mental health.<br /><br />
          God, help me become willing to let go of all the things to which I still cling.<br />
          Help me to be ready to let You remove all of these defects, that your will and purpose may take their place.<br />
          Amen.<br /><br />
          (Page. 76 Big Book)
        </p>
        <h2 id="seventh-step-prayer">Seventh Step Prayer</h2>
        <p>
          "I humbly offered myself to God, as I then understood Him, to do with me as He would.<br />
          I placed myself unreservedly under His care and direction.<br />
          I admitted for the first time that of myself I was nothing; that without Him I was lost.<br />
          I ruthlessly faced my sins and became willing to have my new-found Friend take them away, root and branch."<br /><br />
          My Creator, I am now willing that you should have all of me, good and bad.<br />
          I pray that you now remove from me every single defect of character which stands in the way of my usefulness to you and my fellows.<br />
          Grant me strength, as I go out from here to do Your bidding.<br />
          Amen.<br /><br />
          (Pages. 13 and 76 Big Book)
        </p>
        <h2 id="eighth-step-prayer">Eighth Step Prayer</h2>
        <p>
          Higher Power, I ask Your help in making my list of all those I have harmed.<br />
          I will take responsibility for my mistakes and Be forgiving to others as You are forgiving to me.<br />
          Grant me the willingness to begin my restitution.<br />
          This I pray.<br /><br />
          "We attempt to sweep away the debris which has accumulated out of our effort to live on self-will and run the show ourselves.<br />
          If we haven't the will to do this, we ask until it comes."<br /><br />
          God help me to become willing to sweep away the debris of self will and self-reliant living.
          Thy will be done for his person as well as for me.<br />
          Amen.<br /><br />
          (Page. 76 Big Book)
        </p>
        <h2 id="ninth-step-prayer">Ninth Step Prayer</h2>
        <p>
          Higher Power, I pray for the right attitude to make my amends,<br />
          Being ever mindful not to harm others in the process.<br />
          I ask for Your guidance in making indirect amends. Most important,<br />
          I will continue to make amends By staying abstinent, helping others and Growing in spiritual progress.<br /><br />
          God, give me the strength and direction to do the right thing no matter what the consequences may be.
          Help me to consider others and not harm them in any way.<br />
          Help me to consult with others before I take any actions that would cause me to be sorry.<br />
          Help me to not repeat such behaviours.<br />
          Show me the way of Patience, Tolerance, Kindliness, and Love and help me live the spiritual life.<br />
          Amen.<br /><br />
          (Pages. 78-80 Big Book)
        </p>
        <h2 id="tenth-step-prayer">Tenth Step Prayer</h2>
        <p>
          I pray I may continue: To grow in understanding and effectiveness;<br />
          To take daily spot check inventories of myself;<br />
          To correct mistakes when I make them; To take responsibility for my actions;<br />
          To be ever aware of my negative and Self - defeating attitudes and behaviours;<br />
          To keep my wilfulness in check; To always remember I need Your help;<br />
          To keep love and tolerance of others as my code; and To continue in daily prayer how I can best serve You, My Higher Power.<br /><br />
          God, remove the Selfishness, dishonesty, resentment and fear that has cropped up in my life right now.<br />
          Help me to discuss this with someone immediately and make amends quickly if I have harmed anyone.<br />
          Help me to cease fighting anything and anyone. Show me where I may be helpful to someone else.<br />
          Help me react sanely; not cocky or afraid.<br />
          How can I best serve You — Your will, not mine be done<br /><br />
          "How can I best serve Thee. Thy will (not mine) be done."<br />
          Amen.<br /><br />
          (Page. 85 Big Book)
        </p>
        <h2 id="eleventh-step-prayer">Eleventh Step Prayer</h2>
        <p>
          Higher Power, as I understand You, I pray to keep my connection with You Open and clear from the confusion of daily life.<br />
          Through my prayers and meditation I ask especially for Freedom from self-will, rationalization, and wishful thinking.<br />
          I pray for the guidance of correct thought and positive action.<br />
          Your will Higher Power, not mine, be done.<br /><br />
          As we go through the day we pause, when agitated or doubtful, and ask for the right thought or action.<br />
          We constantly remind ourselves we are no longer running the show, humbly saying to ourselves many times each day 'Thy will be done.'<br /><br />
          God, I'm agitated and doubtful right now.<br />
          Help me to stop and remember that I've made a decision to let You be my God.<br />
          Give me the right thoughts and actions.<br />
          God, save me from fear, anger, worry, self-pity or foolish decisions and that Your will, not my will, be done.<br />
          Amen.<br /><br />
          (Pages. 87-88 Big Book)
        </p>
        <h2 id="twelfth-step-prayer">Twelfth Step Prayer</h2>
        <p>
          Dear God, My spiritual awakening continues to unfold.<br />
          The help I have received I shall pass on and give to others, Both in and out of the Fellowship.<br />
          For this opportunity I am grateful.<br />
          I pray most humbly to continue walking day by day On the road of spiritual progress.<br />
          I pray for the inner strength and wisdom To practice the principles of this way of life in all I do and say.<br />
          I need You, my friends, and the program every hour of every day.<br />
          This is a better way to live.<br />
          Amen.<br /><br />
        </p>
        <h2 id="suggestions-about-prayer">Suggestions About Prayer</h2>
        <p>
          1) Make no requests in prayer for yourself only.<br />
          2) Never pray for your own selfish ends.<br />
          3) Select and memorize a few set prayers that emphasize the principles of the steps.<br />
          4) Ask a priest, minister, or Rabbi about helpful books and prayers that emphasize the principles of the Steps.<br />
          5) Be quick to see where religious people are right.<br />
          6) Make use of what religious people have to offer.<br />
        </p>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
<app-cookie-consent></app-cookie-consent>


