<div class="modal-header">
  <h1 mat-dialog-title>Disclaimer</h1>
  <button class="close-dialog" mat-icon-button aria-label="close dialog" (click)="close()" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div id="disclaimer-dialog" class="modal-content">
  <p>This website is provided free of charge and as such we do not take any responsibility for the accuracy of meeting information. We try our very best to keep the meeting lists up to date but there will always be exceptions to the rule.</p>
  <p>For the most up to date meeting lists and to confirm availability please visit the official intergroup websites found at:</p>
  <h3>Alcoholics Anonymous (Great Britain)</h3>
  <a href="https://www.alcoholics-anonymous.org.uk" target="_blank">https://www.alcoholics-anonymous.org.uk</a>
  <h3>Alcoholics Anonymous (Ireland)</h3>
  <a href="https://www.alcoholicsanonymous.ie" target="_blank">https://www.alcoholicsanonymous.ie</a>
  <h3>Cocaine Anonymous (UK)</h3>
  <a href="https://www.cocaineanonymous.org.uk" target="_blank">https://www.cocaineanonymous.org.uk</a>
  <h3>Cocaine Anonymous (Ireland)</h3>
  <a href="https://www.caireland.live" target="_blank">https://www.caireland.live</a>
  <h3>Cocaine Anonymous (Scotland)</h3>
  <a href="https://www.cascotland.org.uk" target="_blank">https://www.cascotland.org.uk</a>
  <h3>Narcotics Anonymous (UK)</h3>
  <a href="https://ukna.org" target="_blank">https://ukna.org</a>
  <h3>Narcotics Anonymous (Ireland)</h3>
  <a href="https://www.na-ireland.org" target="_blank">https://www.na-ireland.org</a>
  <h3>Overeaters Anonymous (UK)</h3>
  <a href="https://www.oagb.org.uk" target="_blank">https://www.oagb.org.uk</a>
  <p>If you notice any incorrect meeting listings please report them to us and we will do our best to correct them.</p>
  <p><a href="http://www.recoverymeetingfinder.com/meetings/submit-a-correction">http://www.recoverymeetingfinder.com/meetings/submit-a-correction</a> </p>
</div>
<div class="modal-footer" mat-dialog-actions>
  <button class="close-button" (click)="close()" mat-button mat-dialog-close>Close</button>
</div>
