<div class="modal-header">
  <h1 mat-dialog-title>Meeting Accessibility</h1>
  <button class="close-dialog" mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="modal-content">
  <p *ngIf="meeting.wheelchair" title="Wheelchair Accessible">
    <i class="fa fa-wheelchair fa-bold fa-lg wheelchair-icon icon" aria-hidden="true"></i>Wheelchair Accessible
  </p>
  <p *ngIf="meeting.hearing" title="Induction Loop System">
    <i class="fa fa-deaf fa-bold fa-lg hearing-aid-icon icon" aria-hidden="true"></i>Induction Loop System
  </p>
  <p *ngIf="meeting.chit" title="Chit System Available" style="margin-top: -4px">
    <fa-icon class="chit-icon icon" [icon]="['far', 'file']"></fa-icon>Chit System Available *
  </p>
  <p *ngIf="meeting.chit">* The Chit System is simply a scheme to let people have some document to show that they have attended a particular meeting. That person can then give the confirmation to offender managers, Social Services, an employer or any other body.</p>
</div>
<div class="modal-footer" mat-dialog-actions>
  <button class="close-button" mat-button mat-dialog-close>Close</button>
</div>
