<app-page-header class="fixed"></app-page-header>
<app-page-main-menu class="fixed"></app-page-main-menu>
<div id="sidebar" class="show">
  <div class="list-group border-0 text-xs-left">
    <a href="javascript:void(0)" (click)="scrollTo('aa-12-steps')" class="list-group-item d-inline-block">Alcoholics Anonymous (AA)</a>
    <a href="javascript:void(0)" (click)="scrollTo('ca-12-steps')" class="list-group-item d-inline-block">Cocaine Anonymous (CA)</a>
    <a href="javascript:void(0)" (click)="scrollTo('na-12-steps')" class="list-group-item d-inline-block">Narcotics Anonymous (NA)</a>
    <a href="javascript:void(0)" (click)="scrollTo('oa-12-steps')" class="list-group-item d-inline-block">Overeaters Anonymous (OA)</a>
  </div>
</div>
<div id="content-container">
  <div id="content" class="container-fluid">
    <div class="row">
      <div id="content-title-wrap" class="col-12">
        <h1 class="content-title">The 12-Steps</h1>
        <button id="sidebar-toggle" class="navbar-toggler navbar-light" title="Toggle sidebar" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="content-description-wrap" class="content-text">
          <p>The 12-Steps were created by the founders of Alcoholics Anonymous to establish guidelines to overcome an addiction to alcohol. The program gained enough success in its early years for other addiction support groups to adapt the steps to their specific substance or addictive behavior.</p>
          <p>The 12-Steps are outlined in the book Alcoholics Anonymous. They can be found at the beginning of the chapter "How It Works." Essays on the Steps can be read in the book Twelve Steps and Twelve Traditions.</p>
          <p>There are many 12-step programs for various addictions and compulsive behaviors, ranging from Alcoholics Anonymous to Overeaters Anonymous — all using the same 12-Step methods.</p>
          <p>Although the 12-Steps are based on spiritual principles, many nonreligious people have found the program immensely helpful. The language emphasizes the presence of God as each participant understands God, allowing for different interpretations and religious beliefs.</p>
          <p>Many members of 12-step recovery programs have found that these steps were not merely a way to overcome addiction, but they became a guide toward a new way of life.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="content-header">
          <h1 id="aa-12-steps">12-Steps of Alcoholics Anonymous (AA)</h1>
          <a href="https://www.alcoholics-anonymous.org.uk" target="_blank"><img src="assets/images/aa-logo.png" /></a>
        </div>
        <div class="content-text">
          <p>The relative success of the AA program seems to be due to the fact that an alcoholic who no longer drinks has an exceptional faculty for "reaching" and helping an uncontrolled drinker,</p>
          <p>In simplest form, the AA program operates when a recovered alcoholic passes along the story of his or her own problem drinking, describes the sobriety he or she has found in AA, and invites the newcomer to join the informal Fellowship.</p>
          <p>The heart of the suggested program of personal recovery is contained in Twelve Steps describing the experience of the earliest members of the Society:</p>
          <ol>
            <li>We admitted we were powerless over alcohol — that our lives had become unmanageable.</li>
            <li>Came to believe that a Power greater than ourselves could restore us to sanity.</li>
            <li>Made a decision to turn our will and our lives over to the care of God as we understood Him.</li>
            <li>Made a searching and fearless moral inventory of ourselves.</li>
            <li>Admitted to God, to ourselves and to another human being the exact nature of our wrongs.</li>
            <li>Were entirely ready to have God remove all these defects of character.</li>
            <li>Humbly asked Him to remove our shortcomings.</li>
            <li>Made a list of all persons we had harmed, and became willing to make amends to them all.</li>
            <li>Made direct amends to such people wherever possible, except when to do so would injure them or others.</li>
            <li>Continued to take personal inventory and when we were wrong promptly admitted it.</li>
            <li>Sought through prayer and meditation to improve our conscious contact with God as we understood Him, praying only for knowledge of His will for us and the power to carry that out.</li>
            <li>Having had a spiritual awakening as the result of these steps, we tried to carry this message to alcoholics and to practice these principles in all our affairs.</li>
          </ol>
          <p>Newcomers are not asked to accept or follow these Twelve Steps in their entirety if they feel unwilling or unable to do so.</p>
          <p>They will usually be asked to keep an open mind, to attend meetings at which recovered alcoholics describe their personal experiences in achieving sobriety, and to read AA literature describing and interpreting the AA program.</p>
          <p>AA members will usually emphasize to newcomers that only problem drinkers themselves, individually, can determine whether or not they are in fact alcoholics.</p>
          <p>At the same time, it will be pointed out that all available medical testimony indicates that alcoholism is a progressive illness, that it cannot be cured in the ordinary sense of the term, but that it can be arrested through total abstinence from alcohol in any form.</p>
        </div>
        <div class="content-header">
          <h1 id="ca-12-steps">12-Steps of Cocaine Anonymous (CA)</h1>
          <a href="https://www.cocaineanonymous.org.uk" target="_blank"><img src="assets/images/ca-logo.png" /></a>
        </div>
        <div class="content-text">
          <p>The following are the 12 Steps of Cocaine Anonymous. Cocaine Anonymous is a fellowship of men and women who share their experience, strength and hope with each other that they may solve their common problem and help others to recover from their addiction. The only requirement for membership is a desire to stop using cocaine and all other mind-altering substances.</p>
          <ol>
            <li>We admitted we were powerless over cocaine and all other mind-altering substances — that our lives had become unmanageable.</li>
            <li>Came to believe that a Power greater than ourselves could restore us to sanity.</li>
            <li>Made a decision to turn our will and our lives over to the care of God as we understood Him.</li>
            <li>Made a searching and fearless moral inventory of ourselves.</li>
            <li>Admitted to God, to ourselves, and to another human being the exact nature of our wrongs.</li>
            <li>Were entirely ready to have God remove all these defects of character.</li>
            <li>Humbly asked Him to remove our shortcomings.</li>
            <li>Made a list of all persons we had harmed, and became willing to make amends to them all.</li>
            <li>Made direct amends to such people wherever possible, except when to do so would injure them or others.</li>
            <li>Continued to take personal inventory and when we were wrong promptly admitted it.</li>
            <li>Sought through prayer and meditation to improve our conscious contact with God as we understood Him, praying only for knowledge of His will for us and the power to carry that out.</li>
            <li>12 Having had a spiritual awakening as the result of these steps, we tried to carry this message to addicts, and to practice these principles in all our affairs.</li>
          </ol>
        </div>
        <div class="content-header">
          <h1 id="na-12-steps">12-Steps of Narcotics Anonymous (NA)</h1>
          <a href="https://ukna.org" target="_blank"><img src="assets/images/na-logo.png" /></a>
        </div>
        <div class="content-text">
          <p>Narcotics Anonymous, like Alcoholics Anonymous (AA), is a twelve-step program.</p>
          <p>The 12 steps of Narcotics Anonymous are principles and “the source of freedom for the individual.” NA recommends that all members follow the 12 steps of NA to make the most out of their recovery program.</p>
          <p>If you want what we have to offer, and are willing to make the effort to get it, then you are ready to take certain steps. These are the principles that made our recovery possible:</p>
          <ol>
            <li>We admitted that we were powerless over our addiction, that our lives had become unmanageable.</li>
            <li>We came to believe that a Power greater than ourselves could restore us to sanity.</li>
            <li>We made a decision to turn our will and our lives over to the care of God as we understood Him.</li>
            <li>We made a searching and fearless moral inventory of ourselves.</li>
            <li>We admitted to God, to ourselves, and to another human being the exact nature of our wrongs.</li>
            <li>We were entirely ready to have God remove all these defects of character.</li>
            <li>We humbly asked Him to remove our shortcomings.</li>
            <li>We made a list of all persons we had harmed and became willing to make amends to them all.</li>
            <li>We made direct amends to such people wherever possible, except when to do so would injure them or others.</li>
            <li>We continued to take personal inventory and when we were wrong promptly admitted it.</li>
            <li>We sought through prayer and meditation to improve our conscious contact with God as we understood Him, praying only for knowledge of His will for us and the power to carry that out.</li>
            <li>Having had a spiritual awakening as a result of these steps, we tried to carry this message to addicts, and to practice these principles in all our affairs.</li>
          </ol>
          <p>This sounds like a big order, and we can’t do it all at once. We didn’t become addicted in one day, so remember — easy does it.</p>
          <p>There is one thing more than anything else that will defeat us in our recovery; this is an attitude of indifference or intolerance toward spiritual principles. Three of these that are indispensable are honesty, open-mindedness, and willingness. With these we are well on our way.</p>
          <p>We feel that our approach to the disease of addiction is completely realistic, for the therapeutic value of one addict helping another is without parallel. We feel that our way is practical, for one addict can best understand and help another addict. We believe that the sooner we face our problems within our society, in everyday living, just that much faster do we become acceptable, responsible, and productive members of that society.</p>
          <p>The only way to keep from returning to active addiction is not to take that first drug. If you are like us you know that one is too many and a thousand never enough. We put great emphasis on this, for we know that when we use drugs in any form, or substitute one for another, we release our addiction all over again.</p>
          <p>Thinking of alcohol as different from other drugs has caused a great many addicts to relapse. Before we came to NA, many of us viewed alcohol separately, but we cannot afford to be confused about this. Alcohol is a drug. We are people with the disease of addiction who must abstain from all drugs in order to recover.</p>
        </div>
        <div class="content-header">
          <h1 id="oa-12-steps">12-Steps of Overeaters Anonymous (OA)</h1>
          <a href="https://www.oagb.org.uk" target="_blank"><img src="assets/images/oa-logo.png" /></a>
        </div>
        <div class="content-text">
          <p>The Twelve Steps are the heart of the OA recovery programme. They offer a new way of life that enables the compulsive eater to live without the need for excess food.</p>
          <p>The ideas expressed in the Twelve Steps, which originated in Alcoholics Anonymous, reflect practical experience and application of spiritual insights recorded by thinkers throughout the ages. Their greatest importance lies in the fact that they work! They enable compulsive eaters and millions of other Twelve-Steppers to lead happy, productive lives. They represent the foundation upon which OA is built.</p>
          <ol>
            <li>We admitted we were powerless over food — that our lives had become unmanageable.</li>
            <li>Came to believe that a Power greater than ourselves could restore us to sanity.</li>
            <li>Made a decision to turn our will and our lives over to the care of God as we understood Him.</li>
            <li>Made a searching and fearless moral inventory of ourselves.</li>
            <li>Admitted to God, to ourselves and to another human being the exact nature of our wrongs.</li>
            <li>Were entirely ready to have God remove all these defects of character.</li>
            <li>Humbly asked Him to remove our shortcomings.</li>
            <li>Made a list of all persons we had harmed, and became willing to make amends to them all.</li>
            <li>Made direct amends to such people wherever possible, except when to do so would injure them or others.</li>
            <li>Continued to take personal inventory and when we were wrong, promptly admitted it.</li>
            <li>Sought through prayer and meditation to improve our conscious contact with God as we understood Him, praying only for knowledge of His will for us and the power to carry that out.</li>
            <li>Having had a spiritual awakening as the result of these Steps, we tried to carry this message to compulsive overeaters and to practice these principles in all our affairs.</li>
          </ol>
        </div>
      </div>
    </div>
    <app-page-footer></app-page-footer>
  </div>
</div>
<app-cookie-consent></app-cookie-consent>

